Dev/Bambu Sales Automatization/Workflows/WF-08-n8n.json
{"updatedAt":"2026-06-26T01:58:34.645Z","createdAt":"2026-04-11T00:52:48.979Z","id":"WWDuIRSoSYVMEAe9","name":"WF-08 Pipeline Pulse Semanal","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 17 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"2df35a3b-d6ab-4e95-a410-d81117acf132","name":"Trigger Viernes 5pm"},{"parameters":{"url":"https://bambumobile.pipedrive.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"all_not_deleted"},{"name":"limit","value":"500"},{"name":"api_token","value":"2866fce18e63b9830e4915f43d3e1a417f9def51"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"start","value":"={{ $pageCount * 500 }}  "}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.additional_data.pagination.more_items_in_collection === false }}","limitPagesFetched":true,"maxRequests":10}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"98b315f5-d12b-48a7-ad1f-d3732298ae5e","name":"Get Pipedrive Deals"},{"parameters":{"jsCode":"// Consolida todos los deals paginados en 1 solo item\n  const allDeals = [];\n  for (const item of $input.all()) {\n    const data = item.json.data;\n    if (Array.isArray(data)) {\n      allDeals.push(...data);\n    } else if (item.json.id && item.json.stage_id) {\n      allDeals.push(item.json);\n    }\n  }\n  return [{ json: { deals: allDeals, count: allDeals.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"0d5134a0-afda-433f-acee-fc8fc035e3ab","name":"Consolidate Deals"},{"parameters":{"documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Alertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}},"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,0],"id":"1dfb7880-5aa2-4052-beb0-6662433e4a6c","name":"Read WF-03 Alerts","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"parameters":{"jsCode":"// ============================================\n// WF-08 v1: PIPELINE PULSE SEMANAL (Coaching Digest)\n// Bambu Tech Services - Automatizacion Comercial con IA\n// ============================================\n// Genera coaching cards semanales por rep + resumen ejecutivo para CGO\n// usando data de Pipedrive (deals) y Google Sheet WF-03 Alert Log.\n//\n// Flujo n8n esperado:\n//   Schedule Trigger (Cron Vie 5pm)\n//     -> HTTP Request \"Get Pipedrive Deals\"        (paginado)\n//     -> Code \"Consolidate Deals\"                  (devuelve 1 item con {deals})\n//     -> Google Sheets \"Read WF-03 Alerts\"         (Get Rows, tab: Alertas)\n//     -> Code \"Build Coaching Digest\"              (ESTE CODIGO, modo: Run Once for All Items)\n//     -> Send Email                                (loop: 1 por rep + 1 CGO)\n//     -> Google Sheets \"Append WF-08 Log\"          (tab: CoachingLog)\n//\n// Modo: Run Once for All Items\n// ============================================\n\n\n// ============================================\n// SECCION 1: CONFIGURACION\n// ============================================\n// IMPORTANTE: mantener sincronizado con WF-03-Code-Node.js\n// Si cambias SALES_TEAM o STAGE_CONFIG en WF-03, copialo aqui.\n\nconst STAGE_CONFIG = {\n  7:  { name: 'Re-contactar / Re-intentar', maxDays: 30, roles: ['pre_sales'] },\n  8:  { name: 'MQL - Lead Frio',            maxDays: 5,  roles: ['pre_sales'] },\n  1:  { name: 'Lead In - BANT',             maxDays: 7,  roles: ['pre_sales'] },\n  2:  { name: 'Presentar Credenciales',     maxDays: 10, roles: ['pre_sales'] },\n  3:  { name: 'Taller Requerimientos',      maxDays: 10, roles: ['pre_sales', 'bdr'] },\n  4:  { name: 'Realizando Propuesta',       maxDays: 7,  roles: ['bdr'] },\n  16: { name: 'Propuesta Enviada',          maxDays: 14, roles: ['bdr'] },\n  5:  { name: 'Negociaciones',              maxDays: 15, roles: ['bdr'] },\n  9:  { name: 'Calientes',                  maxDays: 10, roles: ['bdr'] },\n};\n\nconst CGO_EMAIL = 'roberto.esparza@bambu-techservices.com';\nconst CGO_NAME = 'Roberto Esparza';\n\n  const SALES_TEAM = {                                                                                                            \n    // Pre Sales (MQL -> Taller)                                                                                                                                             \n    24060159: { name: 'Samantha Rivas',        email: 'samantha.rivas@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    25431089: { name: 'Vicente Varela',        email: 'vicente.varela@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    25752795: { name: 'Emilio Mendoza',        email: 'emilio.mendoza@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    11865784: { name: 'Sofia Santiago',        email: 'sofia@bambu-techservices.com',           role: 'pre_sales' },\n    26438238: { name: 'Harold Bautista',       email: 'harold.bautista@bambu-techservices.com', role: 'pre_sales' },\n\n    // BDRs (Taller -> Calientes)\n    16167654: { name: 'Cecia Lozano',          email: 'cecia.lozano@bambu-techservices.com',     role: 'bdr' },\n    23975173: { name: 'Itzel Arias',           email: 'itzel.arias@bambu-techservices.com',      role: 'bdr' },\n    25224993: { name: 'Luis Fernando Castro',  email: 'luis.castro@bambu-techservices.com',      role: 'bdr' },\n    26082729: { name: 'Victor Villafane',      email: 'victor.villafane@bambu-techservices.com', role: 'bdr' },\n    26148685: { name: 'Gabriela Rivero',       email: 'gabriela.rivero@bambu-techservices.com',  role: 'bdr' },\n    25898347: { name: 'Nayeli Gomez',          email: 'nayeli.gomez@bambu-techservices.com',     role: 'bdr' },\n\n    // CGO\n    14406657: { name: 'Roberto Esparza',       email: 'roberto.esparza@bambu-techservices.com',  role: 'cgo' },\n\n    // Sin rol formal - alertas se envian solo al CGO como fallback\n    1819933:  { name: 'Alonso Santiago',       email: 'alonso@bambu-techservices.com',           role: 'unassigned' },\n    24992387: { name: 'Daniel Sanchez',        email: 'daniel.sanchez@bambu-techservices.com',   role: 'unassigned' },\n    23841490: { name: 'Jose Mendez',           email: 'jose.mendez@bambu-techservices.com',      role: 'unassigned' },\n    23269567: { name: 'Omar',                  email: 'omar@bambu-techservices.com',             role: 'unassigned' },\n  };\n\nconst PIPEDRIVE_DOMAIN = 'bambumobile';\n\n// Limite de reps a procesar (0 = sin limite). Para testing inicial.\n// Rollout: 1 (prueba 1 rep) -> 4 (solo pre_sales) -> 8 (todos) -> 0 (full)\nconst MAX_REPS_PER_RUN = 0;\n\n// Incluir el resumen ejecutivo para CGO?\nconst INCLUDE_EXEC_SUMMARY = true;\n\n// Enviar copia CC al CGO de cada coaching card individual?\nconst CC_CGO_ON_INDIVIDUAL = true;\n\n// ============================\n// TEST MODE - Fase A\n// true  = TODOS los emails (individuales + exec) van a TEST_EMAIL y llevan [TEST] en subject\n// false = modo produccion normal\n// ============================\nconst TEST_MODE = false;\nconst TEST_EMAIL = 'roberto.esparza@bambu-techservices.com';\n\n\n// ============================================\n// SECCION 2: HELPERS\n// ============================================\n\nfunction extractId(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'object') return value.id;\n  return value;\n}\n\nfunction mondayOfCurrentWeek(ref) {\n  const d = new Date(ref);\n  d.setHours(0, 0, 0, 0);\n  const day = d.getDay(); // 0=Dom, 1=Lun, ..., 6=Sab\n  const diff = day === 0 ? -6 : 1 - day; // si es domingo, retrocede 6; sino, retrocede a lunes\n  d.setDate(d.getDate() + diff);\n  return d;\n}\n\nfunction formatMoneyMXN(value) {\n  const n = Number(value || 0);\n  if (!n) return '$0 MXN';\n  return '$' + n.toLocaleString('es-MX', { maximumFractionDigits: 0 }) + ' MXN';\n}\n\nfunction formatDateShort(d) {\n  return new Date(d).toLocaleDateString('es-MX', { day: 'numeric', month: 'short' });\n}\n\nfunction truncate(s, n) {\n  const str = String(s || '');\n  return str.length > n ? str.slice(0, n - 1) + '…' : str;\n}\n\nfunction parseBool(v) {\n  if (v === true || v === false) return v;\n  if (typeof v === 'string') return v.toLowerCase() === 'true';\n  return Boolean(v);\n}\n\n\n// ============================================\n// SECCION 3: LECTURA DE DATOS\n// ============================================\n\nconst now = new Date();\nconst weekStart = mondayOfCurrentWeek(now);\nconst weekStartISO = weekStart.toISOString();\n\nconst weekRangeLabel = `${formatDateShort(weekStart)} - ${formatDateShort(now)}`;\n\n// Deals consolidados del nodo \"Consolidate Deals\"\n// Ese nodo previo devuelve 1 item con { deals: [...], count: N }\nlet allDeals = [];\ntry {\n  const consolidated = $('Consolidate Deals').first().json;\n  allDeals = Array.isArray(consolidated.deals) ? consolidated.deals : [];\n} catch (e) {\n  // Fallback: si no existe el nodo, intentamos leer de $input del nodo previo\n  // buscando .json.data (formato raw del HTTP Pipedrive)\n  for (const item of $input.all()) {\n    if (item.json && Array.isArray(item.json.data)) {\n      allDeals = allDeals.concat(item.json.data);\n    }\n  }\n}\n\n// Sheet rows del nodo inmediato anterior (Google Sheets \"Read WF-03 Alerts\")\n// Cada item es una fila del sheet. Filtramos por timestamp >= lunes de esta semana.\nconst sheetRows = $input.all().map(i => i.json).filter(r => {\n  if (!r || !r.timestamp) return false;\n  try {\n    return new Date(r.timestamp) >= weekStart;\n  } catch (e) {\n    return false;\n  }\n});\n\n\n// ============================================\n// SECCION 4: AGREGACION POR REP\n// ============================================\n\n// Inicializar stats solo para pre_sales y bdr (el CGO tiene su propio resumen)\nconst repStats = {};\nfor (const [userId, info] of Object.entries(SALES_TEAM)) {\n  if (info.role !== 'pre_sales' && info.role !== 'bdr') continue;\n  repStats[userId] = {\n    user_id: Number(userId),\n    name: info.name,\n    email: info.email,\n    role: info.role,\n    role_label: info.role === 'pre_sales' ? 'Pre Sales' : 'BDR',\n    deals_owned: 0,\n    deals_open: 0,\n    deals_won_week: 0,\n    deals_lost_week: 0,\n    deals_moved_week: 0,\n    deals_no_activity_week: 0,\n    alerts_week: 0,\n    escalaciones: 0,\n    urgentes: 0,\n    suaves: 0,\n    inactividad: 0,\n    mismatches: 0,\n    top_risk_deals: [],\n    total_value_open: 0,\n  };\n}\n\n// Loop deals de Pipedrive\nfor (const deal of allDeals) {\n  const userId = String(extractId(deal.user_id));\n  const stats = repStats[userId];\n  if (!stats) continue; // no es pre_sales ni bdr\n\n  stats.deals_owned++;\n\n  const status = (deal.status || 'open').toLowerCase();\n  if (status === 'open') {\n    stats.deals_open++;\n    stats.total_value_open += Number(deal.value || 0);\n  } else if (status === 'won') {\n    if (deal.won_time && new Date(deal.won_time) >= weekStart) {\n      stats.deals_won_week++;\n    }\n  } else if (status === 'lost') {\n    if (deal.lost_time && new Date(deal.lost_time) >= weekStart) {\n      stats.deals_lost_week++;\n    }\n  }\n\n  // Solo contamos movimiento y actividad en deals abiertos\n  if (status !== 'open') continue;\n\n  // Deal cambio de etapa esta semana?\n  if (deal.stage_change_time) {\n    const sct = new Date(deal.stage_change_time);\n    if (sct >= weekStart) stats.deals_moved_week++;\n  }\n\n  // Sin actividad esta semana?\n  const lastAct = deal.last_activity_date ? new Date(deal.last_activity_date) : null;\n  if (!lastAct || lastAct < weekStart) {\n    stats.deals_no_activity_week++;\n  }\n}\n\n// Loop alertas del Sheet (match por owner_name)\nconst repsByName = {};\nfor (const stats of Object.values(repStats)) {\n  repsByName[stats.name] = stats;\n}\n\nfor (const row of sheetRows) {\n  const rep = repsByName[row.owner_name];\n  if (!rep) continue; // alerta de CGO, unassigned u otro\n\n  rep.alerts_week++;\n\n  const type = String(row.alert_type || '').toLowerCase();\n  if (type === 'escalacion') rep.escalaciones++;\n  else if (type === 'urgente') rep.urgentes++;\n  else if (type === 'suave') rep.suaves++;\n  else if (type === 'inactividad') rep.inactividad++;\n\n  if (parseBool(row.mismatch_flag)) rep.mismatches++;\n\n  const days = Number(row.days_in_stage || 0);\n  const value = Number(row.value || 0);\n  const risk = days * (value || 1); // si no hay valor, al menos ordena por dias\n\n  rep.top_risk_deals.push({\n    title: row.deal_title || 'Sin titulo',\n    org: row.org_name || 'Sin organizacion',\n    value,\n    days,\n    stage: row.stage_name || '',\n    type,\n    url: row.deal_url || '',\n    risk,\n  });\n}\n\n// Dedupe top_risk_deals por url (puede haber múltiples alertas del mismo deal en la semana)\n// y quedarnos con la de mayor risk\nfor (const stats of Object.values(repStats)) {\n  const bestByUrl = {};\n  for (const d of stats.top_risk_deals) {\n    const key = d.url || `${d.title}|${d.org}`;\n    if (!bestByUrl[key] || d.risk > bestByUrl[key].risk) {\n      bestByUrl[key] = d;\n    }\n  }\n  stats.top_risk_deals = Object.values(bestByUrl)\n    .sort((a, b) => b.risk - a.risk)\n    .slice(0, 3);\n}\n\n\n// ============================================\n// SECCION 5: COACHING RULES\n// ============================================\n\nfunction generateCoachingMessage(s) {\n  // Orden de prioridad: más critico primero\n\n  if (s.deals_open === 0 && s.deals_owned === 0) {\n    return {\n      flag: '🔴',\n      headline: 'Sin pipeline asignado',\n      action: 'Agenda 1:1 con CGO esta semana para revisar asignacion de cuentas o empezar prospeccion activa.',\n    };\n  }\n\n  if (s.deals_open === 0) {\n    return {\n      flag: '🟡',\n      headline: 'Sin deals abiertos',\n      action: 'Todos tus deals estan cerrados. Enfoca el lunes en prospeccion outbound y llenar el pipeline.',\n    };\n  }\n\n  if (s.escalaciones >= 3) {\n    return {\n      flag: '🔴',\n      headline: `${s.escalaciones} deals escalados`,\n      action: 'Agenda 1:1 con CGO el lunes para revisar reasignaciones o cierres por perdida. No acumules mas escalaciones.',\n    };\n  }\n\n  if (s.deals_moved_week === 0 && s.deals_open >= 3) {\n    return {\n      flag: '🔴',\n      headline: '0 deals avanzados esta semana',\n      action: 'Bloquea 2 horas el lunes a primera hora para revisar y mover al menos 2 deals de etapa. Sin movimiento no hay pipeline.',\n    };\n  }\n\n  if (s.urgentes >= 5) {\n    return {\n      flag: '🟠',\n      headline: `${s.urgentes} deals urgentes acumulados`,\n      action: 'Dedica la manana del lunes a contactar cada deal urgente HOY. Toma decision: avanzar, reasignar o cerrar.',\n    };\n  }\n\n  if (s.mismatches >= 2) {\n    return {\n      flag: '🟠',\n      headline: `${s.mismatches} deals fuera de tu rol`,\n      action: 'Tienes deals en etapas que no corresponden a tu rol. Coordina con CGO para reasignar o actualizar el owner en Pipedrive.',\n    };\n  }\n\n  const noActivityRatio = s.deals_open > 0 ? s.deals_no_activity_week / s.deals_open : 0;\n  if (noActivityRatio > 0.5 && s.deals_open >= 4) {\n    return {\n      flag: '🟡',\n      headline: `${s.deals_no_activity_week} deals sin actividad semanal`,\n      action: 'Mas del 50% de tus deals abiertos no tienen actividad esta semana. Registra llamadas, emails o tareas en Pipedrive para mantener el pulso.',\n    };\n  }\n\n  if (s.deals_moved_week >= 3 && s.escalaciones === 0 && s.urgentes <= 2) {\n    return {\n      flag: '🟢',\n      headline: 'Semana limpia y con movimiento',\n      action: `Excelente ritmo: ${s.deals_moved_week} deals avanzados y pipeline sano. Enfocate en cerrar los de etapa Negociaciones/Calientes.`,\n    };\n  }\n\n  if (s.deals_won_week >= 1) {\n    return {\n      flag: '🟢',\n      headline: `${s.deals_won_week} deal(s) ganado(s) esta semana`,\n      action: 'Felicidades. Pide referidos a ese cliente antes de 7 dias y mantén el ritmo en los deals de Negociaciones.',\n    };\n  }\n\n  return {\n    flag: '🟡',\n    headline: 'Semana estable',\n    action: 'Revisa tus Top 3 deals en riesgo de abajo y prioriza accion concreta para cada uno el lunes.',\n  };\n}\n\nfor (const stats of Object.values(repStats)) {\n  stats.coaching = generateCoachingMessage(stats);\n}\n\n\n// ============================================\n// SECCION 6: HTML TEMPLATES\n// ============================================\n\nfunction renderRepTopRiskTable(topDeals) {\n  if (!topDeals || topDeals.length === 0) {\n    return `<tr><td colspan=\"4\" style=\"padding:12px;text-align:center;color:#999;font-style:italic\">Sin deals en riesgo esta semana</td></tr>`;\n  }\n  return topDeals.map((d, i) => `\n    <tr>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;color:#888;width:24px\">${i + 1}</td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0\">\n        <a href=\"${d.url}\" style=\"color:#0073ea;text-decoration:none;font-weight:600\">${truncate(d.title, 48)}</a>\n        <div style=\"color:#888;font-size:12px\">${truncate(d.org, 48)} · ${d.stage}</div>\n      </td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap\">${formatMoneyMXN(d.value)}</td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap;color:#c0392b;font-weight:600\">${d.days}d</td>\n    </tr>\n  `).join('');\n}\n\nfunction renderCoachingCard(s) {\n  const c = s.coaching;\n  const colorMap = {\n    '🟢': { bg: '#27ae60', light: '#e8f5e9' },\n    '🟡': { bg: '#f39c12', light: '#fff8e1' },\n    '🟠': { bg: '#e67e22', light: '#ffebd4' },\n    '🔴': { bg: '#c0392b', light: '#ffe8e8' },\n  };\n  const colors = colorMap[c.flag] || colorMap['🟡'];\n\n  return `\n<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:680px;margin:0 auto;background:#ffffff\">\n\n  <div style=\"background:${colors.bg};padding:20px 24px;border-radius:8px 8px 0 0\">\n    <div style=\"color:#ffffff;font-size:12px;text-transform:uppercase;letter-spacing:1px;opacity:0.85\">Pipeline Pulse Semanal</div>\n    <h2 style=\"color:#ffffff;margin:4px 0 0;font-size:20px;font-weight:700\">${s.name}</h2>\n    <div style=\"color:#ffffff;font-size:13px;margin-top:4px;opacity:0.9\">${s.role_label} · Semana ${weekRangeLabel}</div>\n  </div>\n\n  <div style=\"border:1px solid #e0e0e0;border-top:none;padding:24px;border-radius:0 0 8px 8px\">\n\n    <div style=\"margin-bottom:24px;padding:18px;background:${colors.light};border-left:4px solid ${colors.bg};border-radius:0 6px 6px 0\">\n      <div style=\"font-size:24px;line-height:1\">${c.flag}</div>\n      <div style=\"font-weight:700;font-size:16px;color:#333;margin-top:6px\">${c.headline}</div>\n      <div style=\"color:#555;font-size:14px;margin-top:8px;line-height:1.5\">${c.action}</div>\n    </div>\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Tu semana en numeros</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:24px\">\n      <tr>\n        <td style=\"padding:10px 8px;background:#f8f9fa;border-radius:4px 0 0 4px;width:50%\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Deals abiertos</div>\n          <div style=\"font-size:24px;font-weight:700;color:#333\">${s.deals_open}</div>\n          <div style=\"color:#888;font-size:12px;margin-top:2px\">${formatMoneyMXN(s.total_value_open)} en pipeline</div>\n        </td>\n        <td style=\"padding:10px 8px;background:#f8f9fa;border-radius:0 4px 4px 0;width:50%\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Avanzados esta semana</div>\n          <div style=\"font-size:24px;font-weight:700;color:${s.deals_moved_week > 0 ? '#27ae60' : '#c0392b'}\">${s.deals_moved_week}</div>\n          <div style=\"color:#888;font-size:12px;margin-top:2px\">${s.deals_no_activity_week} sin actividad</div>\n        </td>\n      </tr>\n    </table>\n\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tr style=\"background:#f8f9fa\">\n        <td style=\"padding:10px 8px;text-align:center;border-radius:4px 0 0 4px\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Alertas</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.alerts_week}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">🚨 Escalacion</div>\n          <div style=\"font-size:18px;font-weight:700;color:${s.escalaciones > 0 ? '#8e1600' : '#333'}\">${s.escalaciones}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">🔴 Urgente</div>\n          <div style=\"font-size:18px;font-weight:700;color:${s.urgentes > 0 ? '#c0392b' : '#333'}\">${s.urgentes}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">⚠️ Suave</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.suaves}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center;border-radius:0 4px 4px 0\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">💤 Inactividad</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.inactividad}</div>\n        </td>\n      </tr>\n    </table>\n\n    ${s.mismatches > 0 ? `\n    <div style=\"margin-bottom:24px;padding:12px 16px;background:#ffe8e8;border-left:4px solid #c0392b;border-radius:0 4px 4px 0;font-size:13px;color:#555\">\n      <strong style=\"color:#c0392b\">⚠️ ${s.mismatches} mismatch(es) detectados:</strong> tienes deals en etapas fuera de tu rol (${s.role_label}). Coordina con CGO para reasignar.\n    </div>` : ''}\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Tus Top 3 deals en riesgo</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:20px\">\n      ${renderRepTopRiskTable(s.top_risk_deals)}\n    </table>\n\n    <div style=\"text-align:center;margin:24px 0 8px\">\n      <a href=\"https://${PIPEDRIVE_DOMAIN}.pipedrive.com/pipeline/1/user/${s.user_id}\" style=\"background:#0073ea;color:#ffffff;padding:12px 32px;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px;display:inline-block\">\n        Ver tu pipeline en Pipedrive\n      </a>\n    </div>\n  </div>\n\n  <div style=\"padding:14px;text-align:center;color:#bbb;font-size:11px\">\n    WF-08 Pipeline Pulse Semanal · Bambu Tech Services · ${now.toLocaleDateString('es-MX', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}\n  </div>\n</div>`;\n}\n\n\nfunction renderExecSummary(reps, totals, topRiskGlobal) {\n  const sortedReps = reps.slice().sort((a, b) => {\n    // Orden: 1) mas escalaciones, 2) mas urgentes, 3) menos deals avanzados\n    if (b.escalaciones !== a.escalaciones) return b.escalaciones - a.escalaciones;\n    if (b.urgentes !== a.urgentes) return b.urgentes - a.urgentes;\n    return a.deals_moved_week - b.deals_moved_week;\n  });\n\n  const repRows = sortedReps.map(r => {\n    const c = r.coaching;\n    const rowColor = c.flag === '🔴' ? '#ffe8e8' : c.flag === '🟠' ? '#fff3e0' : c.flag === '🟡' ? '#fffde7' : '#e8f5e9';\n    return `\n      <tr style=\"background:${rowColor}\">\n        <td style=\"padding:10px 8px;font-weight:600\">${c.flag} ${r.name}</td>\n        <td style=\"padding:10px 8px;color:#666;font-size:12px\">${r.role_label}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.deals_open}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.deals_moved_week > 0 ? '#27ae60' : '#c0392b'};font-weight:600\">${r.deals_moved_week}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.alerts_week}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.escalaciones > 0 ? '#8e1600' : '#333'};font-weight:600\">${r.escalaciones}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.urgentes > 0 ? '#c0392b' : '#333'}\">${r.urgentes}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.mismatches}</td>\n      </tr>\n    `;\n  }).join('');\n\n  const topRiskRows = topRiskGlobal.slice(0, 5).map((d, i) => `\n    <tr>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;color:#888;width:24px\">${i + 1}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0\">\n        <a href=\"${d.url}\" style=\"color:#0073ea;text-decoration:none;font-weight:600\">${truncate(d.title, 52)}</a>\n        <div style=\"color:#888;font-size:12px\">${truncate(d.org, 52)} · ${d.stage} · ${d.owner}</div>\n      </td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap\">${formatMoneyMXN(d.value)}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap;color:#c0392b;font-weight:600\">${d.days}d</td>\n    </tr>\n  `).join('');\n\n  const redFlags = sortedReps.filter(r => r.coaching.flag === '🔴');\n  const zeroMovement = sortedReps.filter(r => r.deals_open > 0 && r.deals_moved_week === 0);\n\n  return `\n<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:780px;margin:0 auto;background:#ffffff\">\n\n  <div style=\"background:linear-gradient(135deg,#1a237e,#0073ea);padding:24px;border-radius:8px 8px 0 0\">\n    <div style=\"color:#ffffff;font-size:12px;text-transform:uppercase;letter-spacing:1px;opacity:0.8\">Pipeline Pulse Semanal — Resumen Ejecutivo</div>\n    <h1 style=\"color:#ffffff;margin:6px 0 0;font-size:22px;font-weight:700\">Equipo Comercial Bambu</h1>\n    <div style=\"color:#ffffff;font-size:13px;margin-top:6px;opacity:0.9\">${weekRangeLabel}</div>\n  </div>\n\n  <div style=\"border:1px solid #e0e0e0;border-top:none;padding:24px;border-radius:0 0 8px 8px\">\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Top Line</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tr>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center;border-radius:4px 0 0 4px\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Deals abiertos</div>\n          <div style=\"font-size:24px;font-weight:700;color:#0073ea\">${totals.deals_open}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">${formatMoneyMXN(totals.total_value_open)}</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Avanzados</div>\n          <div style=\"font-size:24px;font-weight:700;color:${totals.deals_moved_week > 0 ? '#27ae60' : '#c0392b'}\">${totals.deals_moved_week}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">esta semana</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Alertas totales</div>\n          <div style=\"font-size:24px;font-weight:700;color:#333\">${totals.alerts_week}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">generadas</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center;border-radius:0 4px 4px 0\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Escalaciones</div>\n          <div style=\"font-size:24px;font-weight:700;color:${totals.escalaciones > 0 ? '#8e1600' : '#333'}\">${totals.escalaciones}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">${totals.mismatches} mismatches</div>\n        </td>\n      </tr>\n    </table>\n\n    ${redFlags.length > 0 ? `\n    <div style=\"margin-bottom:24px;padding:14px 18px;background:#ffe8e8;border-left:4px solid #c0392b;border-radius:0 6px 6px 0\">\n      <strong style=\"color:#c0392b\">🔴 Atencion requerida:</strong>\n      <span style=\"color:#555\"> ${redFlags.length} rep(s) en semaforo rojo: ${redFlags.map(r => r.name).join(', ')}. Revisar en 1:1 esta semana.</span>\n    </div>` : ''}\n\n    ${zeroMovement.length > 0 ? `\n    <div style=\"margin-bottom:24px;padding:14px 18px;background:#fff8e1;border-left:4px solid #f39c12;border-radius:0 6px 6px 0\">\n      <strong style=\"color:#e67e22\">⚠️ Sin movimiento esta semana:</strong>\n      <span style=\"color:#555\"> ${zeroMovement.map(r => r.name).join(', ')} no avanzaron ningun deal de etapa.</span>\n    </div>` : ''}\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Ranking del equipo</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <thead>\n        <tr style=\"background:#333;color:#ffffff\">\n          <th style=\"padding:10px 8px;text-align:left\">Rep</th>\n          <th style=\"padding:10px 8px;text-align:left\">Rol</th>\n          <th style=\"padding:10px 8px;text-align:center\">Abiertos</th>\n          <th style=\"padding:10px 8px;text-align:center\">Avanzados</th>\n          <th style=\"padding:10px 8px;text-align:center\">Alertas</th>\n          <th style=\"padding:10px 8px;text-align:center\">🚨</th>\n          <th style=\"padding:10px 8px;text-align:center\">🔴</th>\n          <th style=\"padding:10px 8px;text-align:center\">Mismatch</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${repRows}\n      </tbody>\n    </table>\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Top 5 deals en riesgo global</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tbody>\n        ${topRiskRows || '<tr><td colspan=\"4\" style=\"padding:14px;text-align:center;color:#999;font-style:italic\">Sin deals en riesgo esta semana</td></tr>'}\n      </tbody>\n    </table>\n\n    <div style=\"padding:14px;background:#f8f9fa;border-radius:6px;font-size:12px;color:#666;line-height:1.6\">\n      <strong style=\"color:#333\">Metodologia v1:</strong> Este reporte usa data de Pipedrive (deals, stage_change_time, last_activity_date) y del Sheet WF-03 Alert Log de la semana en curso. Las coaching cards individuales se enviaron en paralelo a cada rep con CC al CGO. Version futura incluira analisis de llamadas via Fireflies + Claude.\n    </div>\n\n  </div>\n\n  <div style=\"padding:14px;text-align:center;color:#bbb;font-size:11px\">\n    WF-08 Pipeline Pulse Semanal v1 · Bambu Tech Services · ${now.toLocaleDateString('es-MX', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}\n  </div>\n</div>`;\n}\n\n\n// ============================================\n// SECCION 7: BUILD OUTPUTS\n// ============================================\n\nconst outputs = [];\nconst repsArray = Object.values(repStats);\n\n// Aplicar limite de reps si esta configurado (testing)\nconst repsToSend = MAX_REPS_PER_RUN > 0 ? repsArray.slice(0, MAX_REPS_PER_RUN) : repsArray;\n\n// Calcular totales globales para el resumen ejecutivo\nconst totals = repsArray.reduce((acc, r) => ({\n  deals_open: acc.deals_open + r.deals_open,\n  total_value_open: acc.total_value_open + r.total_value_open,\n  deals_moved_week: acc.deals_moved_week + r.deals_moved_week,\n  deals_no_activity_week: acc.deals_no_activity_week + r.deals_no_activity_week,\n  alerts_week: acc.alerts_week + r.alerts_week,\n  escalaciones: acc.escalaciones + r.escalaciones,\n  urgentes: acc.urgentes + r.urgentes,\n  suaves: acc.suaves + r.suaves,\n  inactividad: acc.inactividad + r.inactividad,\n  mismatches: acc.mismatches + r.mismatches,\n}), {\n  deals_open: 0, total_value_open: 0, deals_moved_week: 0, deals_no_activity_week: 0,\n  alerts_week: 0, escalaciones: 0, urgentes: 0, suaves: 0, inactividad: 0, mismatches: 0,\n});\n\n// Top risk global: juntar top_risk_deals de todos los reps y quedarse con top 5\nconst topRiskGlobal = [];\nfor (const r of repsArray) {\n  for (const d of r.top_risk_deals) {\n    topRiskGlobal.push({ ...d, owner: r.name });\n  }\n}\ntopRiskGlobal.sort((a, b) => b.risk - a.risk);\n\n// --- Coaching cards individuales ---\nfor (const rep of repsToSend) {\n  const realRecipients = CC_CGO_ON_INDIVIDUAL && rep.email !== CGO_EMAIL\n    ? `${rep.email},${CGO_EMAIL}`\n    : rep.email;\n  const recipients = TEST_MODE ? TEST_EMAIL : realRecipients;\n  const subjectPrefix = TEST_MODE ? '[TEST] ' : '';\n\n  outputs.push({\n    type: 'coaching_card',\n    recipients,\n    email_subject: `${subjectPrefix}📊 Tu Pipeline Pulse Semanal | ${rep.name} | ${weekRangeLabel}`,\n    email_body: renderCoachingCard(rep),\n    // Fields para sheet tracking\n    timestamp: now.toISOString(),\n    week_start: weekStartISO,\n    rep_name: rep.name,\n    rep_email: rep.email,\n    rep_role: rep.role_label,\n    deals_owned: rep.deals_owned,\n    deals_open: rep.deals_open,\n    total_value_open: rep.total_value_open,\n    deals_moved_week: rep.deals_moved_week,\n    deals_no_activity_week: rep.deals_no_activity_week,\n    alerts_week: rep.alerts_week,\n    escalaciones: rep.escalaciones,\n    urgentes: rep.urgentes,\n    suaves: rep.suaves,\n    inactividad: rep.inactividad,\n    mismatches: rep.mismatches,\n    coaching_flag: rep.coaching.flag,\n    coaching_headline: rep.coaching.headline,\n    coaching_action: rep.coaching.action,\n  });\n}\n\n// --- Resumen ejecutivo para CGO ---\n// Se emite si INCLUDE_EXEC_SUMMARY y (estamos en modo full o en TEST_MODE)\nif (INCLUDE_EXEC_SUMMARY && (MAX_REPS_PER_RUN === 0 || TEST_MODE)) {\n  const execRecipients = TEST_MODE ? TEST_EMAIL : CGO_EMAIL;\n  const execSubjectPrefix = TEST_MODE ? '[TEST] ' : '';\n  outputs.push({\n    type: 'executive_summary',\n    recipients: execRecipients,\n    email_subject: `${execSubjectPrefix}📈 Pipeline Pulse Semanal — Resumen Ejecutivo | ${weekRangeLabel}`,\n    email_body: renderExecSummary(repsArray, totals, topRiskGlobal),\n    timestamp: now.toISOString(),\n    week_start: weekStartISO,\n    rep_name: 'EQUIPO COMPLETO',\n    rep_email: CGO_EMAIL,\n    rep_role: 'CGO Summary',\n    deals_owned: repsArray.reduce((a, r) => a + r.deals_owned, 0),\n    deals_open: totals.deals_open,\n    total_value_open: totals.total_value_open,\n    deals_moved_week: totals.deals_moved_week,\n    deals_no_activity_week: totals.deals_no_activity_week,\n    alerts_week: totals.alerts_week,\n    escalaciones: totals.escalaciones,\n    urgentes: totals.urgentes,\n    suaves: totals.suaves,\n    inactividad: totals.inactividad,\n    mismatches: totals.mismatches,\n    coaching_flag: '📊',\n    coaching_headline: `${repsArray.length} reps monitoreados`,\n    coaching_action: 'Resumen ejecutivo semanal del equipo comercial',\n  });\n}\n\n// Log\nconsole.log('WF-08 Resumen:', JSON.stringify({\n  week_range: weekRangeLabel,\n  deals_totales_pipedrive: allDeals.length,\n  sheet_rows_leidas: sheetRows.length,\n  reps_procesados: repsArray.length,\n  reps_en_output: repsToSend.length,\n  exec_summary_incluido: INCLUDE_EXEC_SUMMARY && MAX_REPS_PER_RUN === 0,\n  total_outputs: outputs.length,\n  totales: totals,\n}, null, 2));\n\nreturn outputs.map(o => ({ json: o }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"f7df72f6-4c8f-4c50-be80-ad088749f057","name":"Build Coaching Digest"},{"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"= {{ $json.recipients }} ","subject":"= {{ $json.email_subject }} ","html":"={{ $json.email_body }}  ","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1040,192],"id":"3be0189f-76f3-4b7e-98aa-2f731a4397ee","name":"Send Coaching Email","webhookId":"99f8d237-037c-4843-9cb0-6f3aa6e11576","credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1898270255,"mode":"list","cachedResultName":"CoachingLog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit#gid=1898270255"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.timestamp }}  ","week_start":"={{ $json.week_start }}    ","rep_name":"={{ $json.rep_name }}   ","rep_email":"={{ $json.rep_email }} ","rep_role":"={{ $json.rep_role }}  ","deals_owned":"={{ $json.deals_owned }} ","deals_open":"={{ $json.deals_open }}  ","total_value_open":"={{ $json.total_value_open }}  ","deals_moved_week":"={{ $json.deals_moved_week }}  ","deals_no_activity_week":"={{ $json.deals_no_activity_week }} ","alerts_week":"={{ $json.alerts_week }}  ","escalaciones":"={{ $json.escalaciones }}  ","urgentes":"={{ $json.urgentes }} ","suaves":"={{ $json.suaves }} ","inactividad":"={{ $json.inactividad }}  ","mismatches":"={{ $json.mismatches }} ","coaching_flag":"={{ $json.coaching_flag }} ","coaching_headline":"={{ $json.coaching_headline }} ","coaching_action":"={{ $json.coaching_action }}  ","type":"={{ $json.type }} ","email_subject":"={{ $json.email_subject }}  "},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"week_start","displayName":"week_start","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_name","displayName":"rep_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_email","displayName":"rep_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_role","displayName":"rep_role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_owned","displayName":"deals_owned","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_open","displayName":"deals_open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_value_open","displayName":"total_value_open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_moved_week","displayName":"deals_moved_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_no_activity_week","displayName":"deals_no_activity_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"alerts_week","displayName":"alerts_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"escalaciones","displayName":"escalaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"urgentes","displayName":"urgentes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"suaves","displayName":"suaves","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"inactividad","displayName":"inactividad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mismatches","displayName":"mismatches","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_flag","displayName":"coaching_flag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_headline","displayName":"coaching_headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_action","displayName":"coaching_action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_subject","displayName":"email_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,0],"id":"b5bdd3d4-1897-4b3c-ad15-0b2810af3bfd","name":"Append CoachingLog","credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"mon01-trigger-lunes-8am","name":"Trigger Lunes 8am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1"}]}}},{"id":"mon02-get-pipeline-monday","name":"Get Pipeline Monday","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,460],"parameters":{"url":"https://bambumobile.pipedrive.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"all_not_deleted"},{"name":"pipeline_id","value":"1"},{"name":"limit","value":"500"},{"name":"api_token","value":"={{ $vars.PIPEDRIVE_API_TOKEN }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"start","value":"={{ $pageCount * 500 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.additional_data.pagination.more_items_in_collection === false }}","limitPagesFetched":true,"maxRequests":10}}}}},{"id":"mon03-consolidate-monday","name":"Consolidate Monday","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,460],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Consolidate Monday — igual a Consolidate Deals pero acumula paginación\nconst items = $input.all();\nlet allDeals = [];\nfor (const item of items) {\n  const data = item.json.data;\n  if (Array.isArray(data)) allDeals = allDeals.concat(data);\n}\nreturn [{ json: { deals: allDeals, total: allDeals.length } }];"}},{"id":"mon04-read-pipeline-snapshot","name":"Read Pipeline Snapshot","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[624,460],"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu"},"sheetName":{"__rl":true,"value":"Pipeline Snapshots","mode":"name"},"options":{"returnAllMatches":true}},"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"mon05-build-monday-pulse","name":"Build Monday Pulse","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,460],"parameters":{"mode":"runOnceForAllItems","jsCode":"// ============================================\n// WF-08B: MONDAY PIPELINE PULSE\n// Bambu Tech Services — Lunes 8:00am CDMX\n// Pipeline snapshot semanal + delta vs semana anterior\n// ============================================\n// Input: $input = rows de Pipeline Snapshots (Sheets)\n// $('Consolidate Monday').first().json = {deals: [...all deals incl. won]}\n// ============================================\n\nconst CGO_EMAIL = 'roberto.esparza@bambu-techservices.com';\nconst DASHBOARD_URL = 'https://bambu-sales-automatization.vercel.app/dashboard-q2';\nconst META_ANUAL = 117500000;\n\nconst STAGE_CONFIG = {\n  7:  {name:'Re-contactar',           emoji:'🔄', weight:0.05},\n  8:  {name:'MQL - Lead Frío',        emoji:'🥶', weight:0.03},\n  1:  {name:'Lead In - BANT',         emoji:'👍', weight:0.10},\n  17: {name:'Hot Lead In - BANT',     emoji:'👀', weight:0.15},\n  2:  {name:'Presentar Credenciales', emoji:'💻', weight:0.15},\n  18: {name:'Proceso NDA',            emoji:'✍️', weight:0.20},\n  3:  {name:'Taller Requerimientos',  emoji:'🤯', weight:0.25},\n  4:  {name:'Realizando Propuesta',   emoji:'🤓', weight:0.35},\n  16: {name:'Propuesta Enviada',      emoji:'🚀', weight:0.55},\n  5:  {name:'Negociaciones',          emoji:'🕯', weight:0.70},\n  9:  {name:'Calientes',              emoji:'🔥', weight:0.85},\n};\n\n// --- Get deals from Consolidate Monday ---\nconst consolidateData = $('Consolidate Monday').first().json;\nconst allDeals = consolidateData.deals || [];\n\n// --- Open and Won deals ---\nconst openDeals = allDeals.filter(d => d.status === 'open' && d.pipeline_id === 1);\nconst wonDeals  = allDeals.filter(d => d.status === 'won' && (d.won_time || '').startsWith('2026'));\nconst nbYTD = wonDeals.reduce((s, d) => s + (d.value || 0), 0);\n\n// --- Compute current KPIs ---\nlet bruto = 0, ponderado = 0;\nconst byStage = {};\nfor (const deal of openDeals) {\n  const val = deal.value || 0;\n  const sid = deal.stage_id;\n  const cfg = STAGE_CONFIG[sid] || {name:`Stage ${sid}`, emoji:'', weight:0.1};\n  bruto    += val;\n  ponderado += val * cfg.weight;\n  if (!byStage[sid]) byStage[sid] = {name:cfg.name, emoji:cfg.emoji, count:0, bruto:0};\n  byStage[sid].count++;\n  byStage[sid].bruto += val;\n}\n\n// --- Get last snapshot for delta ---\nconst snapRows = $input.all();\nlet lastSnap = null;\nif (snapRows.length > 0) {\n  const row = snapRows[snapRows.length - 1].json;\n  lastSnap = {\n    fecha:    row.fecha || '',\n    bruto:    parseFloat(row.bruto_total)  || 0,\n    pond:     parseFloat(row.pond_total)   || 0,\n    nbYTD:    parseFloat(row.nb_ytd)       || 0,\n    dealsOpen:parseInt(row.deals_open)     || 0,\n  };\n}\n\n// --- Format helpers ---\nconst fmt = v => '$' + (v/1e6).toFixed(2) + 'M';\nconst fmtD = v => {\n  if (!lastSnap || v === 0) return '<span style=\"color:#4a6e4a\">—</span>';\n  const sign = v > 0 ? '▲' : '▼';\n  const color = v > 0 ? '#4ade80' : '#ef4444';\n  return `<span style=\"color:${color}\">${sign} ${fmt(Math.abs(v))}</span>`;\n};\nconst fmtDN = v => {\n  if (!lastSnap || v === 0) return '<span style=\"color:#4a6e4a\">—</span>';\n  const sign = v > 0 ? '▲' : '▼';\n  const color = v > 0 ? '#4ade80' : '#ef4444';\n  return `<span style=\"color:${color}\">${sign} ${Math.abs(v)}</span>`;\n};\n\nconst deltaBruto  = lastSnap ? bruto - lastSnap.bruto : 0;\nconst deltaPond   = lastSnap ? ponderado - lastSnap.pond : 0;\nconst deltaDeals  = lastSnap ? openDeals.length - lastSnap.dealsOpen : 0;\nconst deltaNB     = lastSnap ? nbYTD - lastSnap.nbYTD : 0;\n\n// Coverage\nconst metaRest = META_ANUAL - nbYTD;\nconst cov = metaRest > 0 ? (ponderado / metaRest) : 0;\nconst covColor = cov >= 2.0 ? '#00CC3C' : cov >= 1.0 ? '#f59e0b' : '#ef4444';\nconst covTxt = cov.toFixed(2) + 'x';\n\n// Date\nconst now = new Date();\nconst fechaHoy = now.toLocaleDateString('es-MX', {\n  timeZone:'America/Mexico_City', year:'numeric', month:'long', day:'numeric'\n});\nconst prevNote = lastSnap\n  ? `<div style=\"font-size:10px;color:#4a6e4a;margin-top:8px;\">Δ comparado vs ${lastSnap.fecha}</div>`\n  : `<div style=\"font-size:10px;color:#4a6e4a;margin-top:8px;\">ℹ️ Primera ejecución — próxima semana mostrará deltas</div>`;\n\n// Stage table rows (sorted by bruto desc, skip tiny/zero)\nconst stageRows = Object.entries(byStage)\n  .filter(([,s]) => s.bruto > 100000)\n  .sort(([,a],[,b]) => b.bruto - a.bruto)\n  .map(([,s]) => `\n    <tr>\n      <td style=\"padding:5px 10px;border-bottom:1px solid #1a2e1a;\">${s.emoji} ${s.name}</td>\n      <td style=\"padding:5px 10px;text-align:center;border-bottom:1px solid #1a2e1a;\">${s.count}</td>\n      <td style=\"padding:5px 10px;text-align:right;font-family:monospace;border-bottom:1px solid #1a2e1a;\">${fmt(s.bruto)}</td>\n    </tr>`).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>body{background:#09100a;color:#e0ece0;font-family:Inter,Arial,sans-serif;margin:0;padding:0}\na{color:#00CC3C}</style></head>\n<body>\n<div style=\"max-width:580px;margin:0 auto;padding:20px;\">\n\n  <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-left:3px solid #00CC3C;border-radius:6px;padding:16px 18px;margin-bottom:14px;\">\n    <div style=\"font-size:10px;color:#00CC3C;font-weight:700;letter-spacing:1.2px;margin-bottom:6px;\">📡 MONDAY PIPELINE PULSE · BAMBU TECH SERVICES</div>\n    <div style=\"font-size:15px;font-weight:700;\">${fechaHoy}</div>\n    <div style=\"font-size:11px;color:#7a9e7a;margin-top:3px;\">${openDeals.length.toLocaleString()} deals activos · Motor WF-08</div>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:10px;margin-bottom:14px;\">\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">PIPELINE BRUTO</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${fmt(bruto)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaBruto)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">PONDERADO</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${fmt(ponderado)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaPond)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">COVERAGE H2</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;color:${covColor};\">${covTxt}</div>\n      <div style=\"font-size:10px;color:#7a9e7a;margin-top:3px;\">Target ≥ 2.0x</div>\n    </div>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:14px;\">\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">NB GANADO YTD 2026</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;color:#00CC3C;\">${fmt(nbYTD)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaNB)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">DEALS ABIERTOS</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${openDeals.length.toLocaleString()}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtDN(deltaDeals)}</div>\n    </div>\n  </div>\n\n  <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;margin-bottom:14px;overflow:hidden;\">\n    <div style=\"padding:10px 14px;border-bottom:1px solid #1a2e1a;font-size:10px;font-weight:700;color:#7a9e7a;letter-spacing:1px;\">PIPELINE POR ETAPA</div>\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;\">\n      <tr style=\"background:#121c12;\">\n        <th style=\"padding:6px 10px;text-align:left;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">ETAPA</th>\n        <th style=\"padding:6px 10px;text-align:center;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">DEALS</th>\n        <th style=\"padding:6px 10px;text-align:right;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">BRUTO</th>\n      </tr>\n      ${stageRows}\n    </table>\n  </div>\n\n  <div style=\"text-align:center;margin-bottom:14px;\">\n    <a href=\"${DASHBOARD_URL}\" style=\"background:#00CC3C;color:#09100a;font-weight:700;padding:10px 24px;border-radius:6px;text-decoration:none;font-size:13px;display:inline-block;\">📊 Ver Dashboard Completo →</a>\n  </div>\n\n  ${prevNote}\n\n  <div style=\"border-top:1px solid #1a2e1a;padding-top:10px;margin-top:12px;font-size:10px;color:#4a6e4a;\">\n    📡 Generado automáticamente · Lunes 8:00am CDMX · WF-08 Pipeline Pulse · Bambu Tech Services\n  </div>\n</div>\n</body></html>`;\n\n// Save snapshot data for Sheets node\nconst snapFecha = now.toISOString().slice(0,10);\n\nreturn [{json:{\n  subject: `📡 Monday Pipeline Pulse — ${snapFecha} · ${fmt(ponderado)} pond · ${covTxt} cov`,\n  html:    html,\n  to:      CGO_EMAIL,\n  toName:  'Roberto Esparza',\n  // For Save Snapshot node\n  snap_fecha:    snapFecha,\n  snap_bruto:    Math.round(bruto),\n  snap_pond:     Math.round(ponderado),\n  snap_nb_ytd:   Math.round(nbYTD),\n  snap_deals:    openDeals.length,\n  snap_coverage: cov.toFixed(2),\n}}];"}},{"id":"mon06-send-monday-email","name":"Send Monday Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1040,460],"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}},"webhookId":"549d9c20-4ece-4374-812a-45611774419a"},{"id":"mon07-save-pipeline-snapshot","name":"Save Pipeline Snapshot","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1040,620],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu"},"sheetName":{"__rl":true,"value":"Pipeline Snapshots","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}}],"connections":{"Trigger Viernes 5pm":{"main":[[{"node":"Get Pipedrive Deals","type":"main","index":0}]]},"Get Pipedrive Deals":{"main":[[{"node":"Consolidate Deals","type":"main","index":0}]]},"Consolidate Deals":{"main":[[{"node":"Read WF-03 Alerts","type":"main","index":0}]]},"Read WF-03 Alerts":{"main":[[{"node":"Build Coaching Digest","type":"main","index":0}]]},"Build Coaching Digest":{"main":[[{"node":"Append CoachingLog","type":"main","index":0},{"node":"Send Coaching Email","type":"main","index":0}]]},"Append CoachingLog":{"main":[[]]},"Trigger Lunes 8am":{"main":[[{"node":"Get Pipeline Monday","type":"main","index":0}]]},"Get Pipeline Monday":{"main":[[{"node":"Consolidate Monday","type":"main","index":0}]]},"Consolidate Monday":{"main":[[{"node":"Read Pipeline Snapshot","type":"main","index":0}]]},"Read Pipeline Snapshot":{"main":[[{"node":"Build Monday Pulse","type":"main","index":0}]]},"Build Monday Pulse":{"main":[[{"node":"Send Monday Email","type":"main","index":0},{"node":"Save Pipeline Snapshot","type":"main","index":0}]]},"Send Monday Email":{"main":[[]]},"Save Pipeline Snapshot":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Trigger Viernes 5pm":{"recurrenceRules":[]},"node:Trigger Lunes 8am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","activeVersionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","versionCounter":130,"triggerCount":2,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-04-11T00:52:48.982Z","createdAt":"2026-04-11T00:52:48.982Z","role":"workflow:owner","workflowId":"WWDuIRSoSYVMEAe9","projectId":"JU2bKPpYIxzn9Xw3","project":{"updatedAt":"2026-04-10T04:49:03.292Z","createdAt":"2026-04-10T04:48:56.287Z","id":"JU2bKPpYIxzn9Xw3","name":"Roberto Esparza <roberto.esparza@bambu-techservices.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"}},{"updatedAt":"2026-06-23T16:50:50.733Z","createdAt":"2026-06-23T16:50:50.733Z","role":"workflow:editor","workflowId":"WWDuIRSoSYVMEAe9","projectId":"wCNjO8QE6lUyVubQ","project":{"updatedAt":"2026-06-23T16:41:18.728Z","createdAt":"2026-04-10T04:50:03.754Z","id":"wCNjO8QE6lUyVubQ","name":"Omar Ramirez <omar@bambu-techservices.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2c579866-2836-4ca8-83b5-09164d823de6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-26T01:58:34.658Z","createdAt":"2026-06-26T01:58:34.658Z","versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","workflowId":"WWDuIRSoSYVMEAe9","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 17 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"2df35a3b-d6ab-4e95-a410-d81117acf132","name":"Trigger Viernes 5pm"},{"parameters":{"url":"https://bambumobile.pipedrive.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"all_not_deleted"},{"name":"limit","value":"500"},{"name":"api_token","value":"2866fce18e63b9830e4915f43d3e1a417f9def51"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"start","value":"={{ $pageCount * 500 }}  "}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.additional_data.pagination.more_items_in_collection === false }}","limitPagesFetched":true,"maxRequests":10}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"98b315f5-d12b-48a7-ad1f-d3732298ae5e","name":"Get Pipedrive Deals"},{"parameters":{"jsCode":"// Consolida todos los deals paginados en 1 solo item\n  const allDeals = [];\n  for (const item of $input.all()) {\n    const data = item.json.data;\n    if (Array.isArray(data)) {\n      allDeals.push(...data);\n    } else if (item.json.id && item.json.stage_id) {\n      allDeals.push(item.json);\n    }\n  }\n  return [{ json: { deals: allDeals, count: allDeals.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"0d5134a0-afda-433f-acee-fc8fc035e3ab","name":"Consolidate Deals"},{"parameters":{"documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Alertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}},"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,0],"id":"1dfb7880-5aa2-4052-beb0-6662433e4a6c","name":"Read WF-03 Alerts","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"parameters":{"jsCode":"// ============================================\n// WF-08 v1: PIPELINE PULSE SEMANAL (Coaching Digest)\n// Bambu Tech Services - Automatizacion Comercial con IA\n// ============================================\n// Genera coaching cards semanales por rep + resumen ejecutivo para CGO\n// usando data de Pipedrive (deals) y Google Sheet WF-03 Alert Log.\n//\n// Flujo n8n esperado:\n//   Schedule Trigger (Cron Vie 5pm)\n//     -> HTTP Request \"Get Pipedrive Deals\"        (paginado)\n//     -> Code \"Consolidate Deals\"                  (devuelve 1 item con {deals})\n//     -> Google Sheets \"Read WF-03 Alerts\"         (Get Rows, tab: Alertas)\n//     -> Code \"Build Coaching Digest\"              (ESTE CODIGO, modo: Run Once for All Items)\n//     -> Send Email                                (loop: 1 por rep + 1 CGO)\n//     -> Google Sheets \"Append WF-08 Log\"          (tab: CoachingLog)\n//\n// Modo: Run Once for All Items\n// ============================================\n\n\n// ============================================\n// SECCION 1: CONFIGURACION\n// ============================================\n// IMPORTANTE: mantener sincronizado con WF-03-Code-Node.js\n// Si cambias SALES_TEAM o STAGE_CONFIG en WF-03, copialo aqui.\n\nconst STAGE_CONFIG = {\n  7:  { name: 'Re-contactar / Re-intentar', maxDays: 30, roles: ['pre_sales'] },\n  8:  { name: 'MQL - Lead Frio',            maxDays: 5,  roles: ['pre_sales'] },\n  1:  { name: 'Lead In - BANT',             maxDays: 7,  roles: ['pre_sales'] },\n  2:  { name: 'Presentar Credenciales',     maxDays: 10, roles: ['pre_sales'] },\n  3:  { name: 'Taller Requerimientos',      maxDays: 10, roles: ['pre_sales', 'bdr'] },\n  4:  { name: 'Realizando Propuesta',       maxDays: 7,  roles: ['bdr'] },\n  16: { name: 'Propuesta Enviada',          maxDays: 14, roles: ['bdr'] },\n  5:  { name: 'Negociaciones',              maxDays: 15, roles: ['bdr'] },\n  9:  { name: 'Calientes',                  maxDays: 10, roles: ['bdr'] },\n};\n\nconst CGO_EMAIL = 'roberto.esparza@bambu-techservices.com';\nconst CGO_NAME = 'Roberto Esparza';\n\n  const SALES_TEAM = {                                                                                                            \n    // Pre Sales (MQL -> Taller)                                                                                                                                             \n    24060159: { name: 'Samantha Rivas',        email: 'samantha.rivas@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    25431089: { name: 'Vicente Varela',        email: 'vicente.varela@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    25752795: { name: 'Emilio Mendoza',        email: 'emilio.mendoza@bambu-techservices.com',  role: 'pre_sales' },                                                         \n    11865784: { name: 'Sofia Santiago',        email: 'sofia@bambu-techservices.com',           role: 'pre_sales' },\n    26438238: { name: 'Harold Bautista',       email: 'harold.bautista@bambu-techservices.com', role: 'pre_sales' },\n\n    // BDRs (Taller -> Calientes)\n    16167654: { name: 'Cecia Lozano',          email: 'cecia.lozano@bambu-techservices.com',     role: 'bdr' },\n    23975173: { name: 'Itzel Arias',           email: 'itzel.arias@bambu-techservices.com',      role: 'bdr' },\n    25224993: { name: 'Luis Fernando Castro',  email: 'luis.castro@bambu-techservices.com',      role: 'bdr' },\n    26082729: { name: 'Victor Villafane',      email: 'victor.villafane@bambu-techservices.com', role: 'bdr' },\n    26148685: { name: 'Gabriela Rivero',       email: 'gabriela.rivero@bambu-techservices.com',  role: 'bdr' },\n    25898347: { name: 'Nayeli Gomez',          email: 'nayeli.gomez@bambu-techservices.com',     role: 'bdr' },\n\n    // CGO\n    14406657: { name: 'Roberto Esparza',       email: 'roberto.esparza@bambu-techservices.com',  role: 'cgo' },\n\n    // Sin rol formal - alertas se envian solo al CGO como fallback\n    1819933:  { name: 'Alonso Santiago',       email: 'alonso@bambu-techservices.com',           role: 'unassigned' },\n    24992387: { name: 'Daniel Sanchez',        email: 'daniel.sanchez@bambu-techservices.com',   role: 'unassigned' },\n    23841490: { name: 'Jose Mendez',           email: 'jose.mendez@bambu-techservices.com',      role: 'unassigned' },\n    23269567: { name: 'Omar',                  email: 'omar@bambu-techservices.com',             role: 'unassigned' },\n  };\n\nconst PIPEDRIVE_DOMAIN = 'bambumobile';\n\n// Limite de reps a procesar (0 = sin limite). Para testing inicial.\n// Rollout: 1 (prueba 1 rep) -> 4 (solo pre_sales) -> 8 (todos) -> 0 (full)\nconst MAX_REPS_PER_RUN = 0;\n\n// Incluir el resumen ejecutivo para CGO?\nconst INCLUDE_EXEC_SUMMARY = true;\n\n// Enviar copia CC al CGO de cada coaching card individual?\nconst CC_CGO_ON_INDIVIDUAL = true;\n\n// ============================\n// TEST MODE - Fase A\n// true  = TODOS los emails (individuales + exec) van a TEST_EMAIL y llevan [TEST] en subject\n// false = modo produccion normal\n// ============================\nconst TEST_MODE = false;\nconst TEST_EMAIL = 'roberto.esparza@bambu-techservices.com';\n\n\n// ============================================\n// SECCION 2: HELPERS\n// ============================================\n\nfunction extractId(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'object') return value.id;\n  return value;\n}\n\nfunction mondayOfCurrentWeek(ref) {\n  const d = new Date(ref);\n  d.setHours(0, 0, 0, 0);\n  const day = d.getDay(); // 0=Dom, 1=Lun, ..., 6=Sab\n  const diff = day === 0 ? -6 : 1 - day; // si es domingo, retrocede 6; sino, retrocede a lunes\n  d.setDate(d.getDate() + diff);\n  return d;\n}\n\nfunction formatMoneyMXN(value) {\n  const n = Number(value || 0);\n  if (!n) return '$0 MXN';\n  return '$' + n.toLocaleString('es-MX', { maximumFractionDigits: 0 }) + ' MXN';\n}\n\nfunction formatDateShort(d) {\n  return new Date(d).toLocaleDateString('es-MX', { day: 'numeric', month: 'short' });\n}\n\nfunction truncate(s, n) {\n  const str = String(s || '');\n  return str.length > n ? str.slice(0, n - 1) + '…' : str;\n}\n\nfunction parseBool(v) {\n  if (v === true || v === false) return v;\n  if (typeof v === 'string') return v.toLowerCase() === 'true';\n  return Boolean(v);\n}\n\n\n// ============================================\n// SECCION 3: LECTURA DE DATOS\n// ============================================\n\nconst now = new Date();\nconst weekStart = mondayOfCurrentWeek(now);\nconst weekStartISO = weekStart.toISOString();\n\nconst weekRangeLabel = `${formatDateShort(weekStart)} - ${formatDateShort(now)}`;\n\n// Deals consolidados del nodo \"Consolidate Deals\"\n// Ese nodo previo devuelve 1 item con { deals: [...], count: N }\nlet allDeals = [];\ntry {\n  const consolidated = $('Consolidate Deals').first().json;\n  allDeals = Array.isArray(consolidated.deals) ? consolidated.deals : [];\n} catch (e) {\n  // Fallback: si no existe el nodo, intentamos leer de $input del nodo previo\n  // buscando .json.data (formato raw del HTTP Pipedrive)\n  for (const item of $input.all()) {\n    if (item.json && Array.isArray(item.json.data)) {\n      allDeals = allDeals.concat(item.json.data);\n    }\n  }\n}\n\n// Sheet rows del nodo inmediato anterior (Google Sheets \"Read WF-03 Alerts\")\n// Cada item es una fila del sheet. Filtramos por timestamp >= lunes de esta semana.\nconst sheetRows = $input.all().map(i => i.json).filter(r => {\n  if (!r || !r.timestamp) return false;\n  try {\n    return new Date(r.timestamp) >= weekStart;\n  } catch (e) {\n    return false;\n  }\n});\n\n\n// ============================================\n// SECCION 4: AGREGACION POR REP\n// ============================================\n\n// Inicializar stats solo para pre_sales y bdr (el CGO tiene su propio resumen)\nconst repStats = {};\nfor (const [userId, info] of Object.entries(SALES_TEAM)) {\n  if (info.role !== 'pre_sales' && info.role !== 'bdr') continue;\n  repStats[userId] = {\n    user_id: Number(userId),\n    name: info.name,\n    email: info.email,\n    role: info.role,\n    role_label: info.role === 'pre_sales' ? 'Pre Sales' : 'BDR',\n    deals_owned: 0,\n    deals_open: 0,\n    deals_won_week: 0,\n    deals_lost_week: 0,\n    deals_moved_week: 0,\n    deals_no_activity_week: 0,\n    alerts_week: 0,\n    escalaciones: 0,\n    urgentes: 0,\n    suaves: 0,\n    inactividad: 0,\n    mismatches: 0,\n    top_risk_deals: [],\n    total_value_open: 0,\n  };\n}\n\n// Loop deals de Pipedrive\nfor (const deal of allDeals) {\n  const userId = String(extractId(deal.user_id));\n  const stats = repStats[userId];\n  if (!stats) continue; // no es pre_sales ni bdr\n\n  stats.deals_owned++;\n\n  const status = (deal.status || 'open').toLowerCase();\n  if (status === 'open') {\n    stats.deals_open++;\n    stats.total_value_open += Number(deal.value || 0);\n  } else if (status === 'won') {\n    if (deal.won_time && new Date(deal.won_time) >= weekStart) {\n      stats.deals_won_week++;\n    }\n  } else if (status === 'lost') {\n    if (deal.lost_time && new Date(deal.lost_time) >= weekStart) {\n      stats.deals_lost_week++;\n    }\n  }\n\n  // Solo contamos movimiento y actividad en deals abiertos\n  if (status !== 'open') continue;\n\n  // Deal cambio de etapa esta semana?\n  if (deal.stage_change_time) {\n    const sct = new Date(deal.stage_change_time);\n    if (sct >= weekStart) stats.deals_moved_week++;\n  }\n\n  // Sin actividad esta semana?\n  const lastAct = deal.last_activity_date ? new Date(deal.last_activity_date) : null;\n  if (!lastAct || lastAct < weekStart) {\n    stats.deals_no_activity_week++;\n  }\n}\n\n// Loop alertas del Sheet (match por owner_name)\nconst repsByName = {};\nfor (const stats of Object.values(repStats)) {\n  repsByName[stats.name] = stats;\n}\n\nfor (const row of sheetRows) {\n  const rep = repsByName[row.owner_name];\n  if (!rep) continue; // alerta de CGO, unassigned u otro\n\n  rep.alerts_week++;\n\n  const type = String(row.alert_type || '').toLowerCase();\n  if (type === 'escalacion') rep.escalaciones++;\n  else if (type === 'urgente') rep.urgentes++;\n  else if (type === 'suave') rep.suaves++;\n  else if (type === 'inactividad') rep.inactividad++;\n\n  if (parseBool(row.mismatch_flag)) rep.mismatches++;\n\n  const days = Number(row.days_in_stage || 0);\n  const value = Number(row.value || 0);\n  const risk = days * (value || 1); // si no hay valor, al menos ordena por dias\n\n  rep.top_risk_deals.push({\n    title: row.deal_title || 'Sin titulo',\n    org: row.org_name || 'Sin organizacion',\n    value,\n    days,\n    stage: row.stage_name || '',\n    type,\n    url: row.deal_url || '',\n    risk,\n  });\n}\n\n// Dedupe top_risk_deals por url (puede haber múltiples alertas del mismo deal en la semana)\n// y quedarnos con la de mayor risk\nfor (const stats of Object.values(repStats)) {\n  const bestByUrl = {};\n  for (const d of stats.top_risk_deals) {\n    const key = d.url || `${d.title}|${d.org}`;\n    if (!bestByUrl[key] || d.risk > bestByUrl[key].risk) {\n      bestByUrl[key] = d;\n    }\n  }\n  stats.top_risk_deals = Object.values(bestByUrl)\n    .sort((a, b) => b.risk - a.risk)\n    .slice(0, 3);\n}\n\n\n// ============================================\n// SECCION 5: COACHING RULES\n// ============================================\n\nfunction generateCoachingMessage(s) {\n  // Orden de prioridad: más critico primero\n\n  if (s.deals_open === 0 && s.deals_owned === 0) {\n    return {\n      flag: '🔴',\n      headline: 'Sin pipeline asignado',\n      action: 'Agenda 1:1 con CGO esta semana para revisar asignacion de cuentas o empezar prospeccion activa.',\n    };\n  }\n\n  if (s.deals_open === 0) {\n    return {\n      flag: '🟡',\n      headline: 'Sin deals abiertos',\n      action: 'Todos tus deals estan cerrados. Enfoca el lunes en prospeccion outbound y llenar el pipeline.',\n    };\n  }\n\n  if (s.escalaciones >= 3) {\n    return {\n      flag: '🔴',\n      headline: `${s.escalaciones} deals escalados`,\n      action: 'Agenda 1:1 con CGO el lunes para revisar reasignaciones o cierres por perdida. No acumules mas escalaciones.',\n    };\n  }\n\n  if (s.deals_moved_week === 0 && s.deals_open >= 3) {\n    return {\n      flag: '🔴',\n      headline: '0 deals avanzados esta semana',\n      action: 'Bloquea 2 horas el lunes a primera hora para revisar y mover al menos 2 deals de etapa. Sin movimiento no hay pipeline.',\n    };\n  }\n\n  if (s.urgentes >= 5) {\n    return {\n      flag: '🟠',\n      headline: `${s.urgentes} deals urgentes acumulados`,\n      action: 'Dedica la manana del lunes a contactar cada deal urgente HOY. Toma decision: avanzar, reasignar o cerrar.',\n    };\n  }\n\n  if (s.mismatches >= 2) {\n    return {\n      flag: '🟠',\n      headline: `${s.mismatches} deals fuera de tu rol`,\n      action: 'Tienes deals en etapas que no corresponden a tu rol. Coordina con CGO para reasignar o actualizar el owner en Pipedrive.',\n    };\n  }\n\n  const noActivityRatio = s.deals_open > 0 ? s.deals_no_activity_week / s.deals_open : 0;\n  if (noActivityRatio > 0.5 && s.deals_open >= 4) {\n    return {\n      flag: '🟡',\n      headline: `${s.deals_no_activity_week} deals sin actividad semanal`,\n      action: 'Mas del 50% de tus deals abiertos no tienen actividad esta semana. Registra llamadas, emails o tareas en Pipedrive para mantener el pulso.',\n    };\n  }\n\n  if (s.deals_moved_week >= 3 && s.escalaciones === 0 && s.urgentes <= 2) {\n    return {\n      flag: '🟢',\n      headline: 'Semana limpia y con movimiento',\n      action: `Excelente ritmo: ${s.deals_moved_week} deals avanzados y pipeline sano. Enfocate en cerrar los de etapa Negociaciones/Calientes.`,\n    };\n  }\n\n  if (s.deals_won_week >= 1) {\n    return {\n      flag: '🟢',\n      headline: `${s.deals_won_week} deal(s) ganado(s) esta semana`,\n      action: 'Felicidades. Pide referidos a ese cliente antes de 7 dias y mantén el ritmo en los deals de Negociaciones.',\n    };\n  }\n\n  return {\n    flag: '🟡',\n    headline: 'Semana estable',\n    action: 'Revisa tus Top 3 deals en riesgo de abajo y prioriza accion concreta para cada uno el lunes.',\n  };\n}\n\nfor (const stats of Object.values(repStats)) {\n  stats.coaching = generateCoachingMessage(stats);\n}\n\n\n// ============================================\n// SECCION 6: HTML TEMPLATES\n// ============================================\n\nfunction renderRepTopRiskTable(topDeals) {\n  if (!topDeals || topDeals.length === 0) {\n    return `<tr><td colspan=\"4\" style=\"padding:12px;text-align:center;color:#999;font-style:italic\">Sin deals en riesgo esta semana</td></tr>`;\n  }\n  return topDeals.map((d, i) => `\n    <tr>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;color:#888;width:24px\">${i + 1}</td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0\">\n        <a href=\"${d.url}\" style=\"color:#0073ea;text-decoration:none;font-weight:600\">${truncate(d.title, 48)}</a>\n        <div style=\"color:#888;font-size:12px\">${truncate(d.org, 48)} · ${d.stage}</div>\n      </td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap\">${formatMoneyMXN(d.value)}</td>\n      <td style=\"padding:8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap;color:#c0392b;font-weight:600\">${d.days}d</td>\n    </tr>\n  `).join('');\n}\n\nfunction renderCoachingCard(s) {\n  const c = s.coaching;\n  const colorMap = {\n    '🟢': { bg: '#27ae60', light: '#e8f5e9' },\n    '🟡': { bg: '#f39c12', light: '#fff8e1' },\n    '🟠': { bg: '#e67e22', light: '#ffebd4' },\n    '🔴': { bg: '#c0392b', light: '#ffe8e8' },\n  };\n  const colors = colorMap[c.flag] || colorMap['🟡'];\n\n  return `\n<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:680px;margin:0 auto;background:#ffffff\">\n\n  <div style=\"background:${colors.bg};padding:20px 24px;border-radius:8px 8px 0 0\">\n    <div style=\"color:#ffffff;font-size:12px;text-transform:uppercase;letter-spacing:1px;opacity:0.85\">Pipeline Pulse Semanal</div>\n    <h2 style=\"color:#ffffff;margin:4px 0 0;font-size:20px;font-weight:700\">${s.name}</h2>\n    <div style=\"color:#ffffff;font-size:13px;margin-top:4px;opacity:0.9\">${s.role_label} · Semana ${weekRangeLabel}</div>\n  </div>\n\n  <div style=\"border:1px solid #e0e0e0;border-top:none;padding:24px;border-radius:0 0 8px 8px\">\n\n    <div style=\"margin-bottom:24px;padding:18px;background:${colors.light};border-left:4px solid ${colors.bg};border-radius:0 6px 6px 0\">\n      <div style=\"font-size:24px;line-height:1\">${c.flag}</div>\n      <div style=\"font-weight:700;font-size:16px;color:#333;margin-top:6px\">${c.headline}</div>\n      <div style=\"color:#555;font-size:14px;margin-top:8px;line-height:1.5\">${c.action}</div>\n    </div>\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Tu semana en numeros</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:24px\">\n      <tr>\n        <td style=\"padding:10px 8px;background:#f8f9fa;border-radius:4px 0 0 4px;width:50%\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Deals abiertos</div>\n          <div style=\"font-size:24px;font-weight:700;color:#333\">${s.deals_open}</div>\n          <div style=\"color:#888;font-size:12px;margin-top:2px\">${formatMoneyMXN(s.total_value_open)} en pipeline</div>\n        </td>\n        <td style=\"padding:10px 8px;background:#f8f9fa;border-radius:0 4px 4px 0;width:50%\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Avanzados esta semana</div>\n          <div style=\"font-size:24px;font-weight:700;color:${s.deals_moved_week > 0 ? '#27ae60' : '#c0392b'}\">${s.deals_moved_week}</div>\n          <div style=\"color:#888;font-size:12px;margin-top:2px\">${s.deals_no_activity_week} sin actividad</div>\n        </td>\n      </tr>\n    </table>\n\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tr style=\"background:#f8f9fa\">\n        <td style=\"padding:10px 8px;text-align:center;border-radius:4px 0 0 4px\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Alertas</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.alerts_week}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">🚨 Escalacion</div>\n          <div style=\"font-size:18px;font-weight:700;color:${s.escalaciones > 0 ? '#8e1600' : '#333'}\">${s.escalaciones}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">🔴 Urgente</div>\n          <div style=\"font-size:18px;font-weight:700;color:${s.urgentes > 0 ? '#c0392b' : '#333'}\">${s.urgentes}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">⚠️ Suave</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.suaves}</div>\n        </td>\n        <td style=\"padding:10px 8px;text-align:center;border-radius:0 4px 4px 0\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">💤 Inactividad</div>\n          <div style=\"font-size:18px;font-weight:700;color:#333\">${s.inactividad}</div>\n        </td>\n      </tr>\n    </table>\n\n    ${s.mismatches > 0 ? `\n    <div style=\"margin-bottom:24px;padding:12px 16px;background:#ffe8e8;border-left:4px solid #c0392b;border-radius:0 4px 4px 0;font-size:13px;color:#555\">\n      <strong style=\"color:#c0392b\">⚠️ ${s.mismatches} mismatch(es) detectados:</strong> tienes deals en etapas fuera de tu rol (${s.role_label}). Coordina con CGO para reasignar.\n    </div>` : ''}\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Tus Top 3 deals en riesgo</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:20px\">\n      ${renderRepTopRiskTable(s.top_risk_deals)}\n    </table>\n\n    <div style=\"text-align:center;margin:24px 0 8px\">\n      <a href=\"https://${PIPEDRIVE_DOMAIN}.pipedrive.com/pipeline/1/user/${s.user_id}\" style=\"background:#0073ea;color:#ffffff;padding:12px 32px;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px;display:inline-block\">\n        Ver tu pipeline en Pipedrive\n      </a>\n    </div>\n  </div>\n\n  <div style=\"padding:14px;text-align:center;color:#bbb;font-size:11px\">\n    WF-08 Pipeline Pulse Semanal · Bambu Tech Services · ${now.toLocaleDateString('es-MX', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}\n  </div>\n</div>`;\n}\n\n\nfunction renderExecSummary(reps, totals, topRiskGlobal) {\n  const sortedReps = reps.slice().sort((a, b) => {\n    // Orden: 1) mas escalaciones, 2) mas urgentes, 3) menos deals avanzados\n    if (b.escalaciones !== a.escalaciones) return b.escalaciones - a.escalaciones;\n    if (b.urgentes !== a.urgentes) return b.urgentes - a.urgentes;\n    return a.deals_moved_week - b.deals_moved_week;\n  });\n\n  const repRows = sortedReps.map(r => {\n    const c = r.coaching;\n    const rowColor = c.flag === '🔴' ? '#ffe8e8' : c.flag === '🟠' ? '#fff3e0' : c.flag === '🟡' ? '#fffde7' : '#e8f5e9';\n    return `\n      <tr style=\"background:${rowColor}\">\n        <td style=\"padding:10px 8px;font-weight:600\">${c.flag} ${r.name}</td>\n        <td style=\"padding:10px 8px;color:#666;font-size:12px\">${r.role_label}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.deals_open}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.deals_moved_week > 0 ? '#27ae60' : '#c0392b'};font-weight:600\">${r.deals_moved_week}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.alerts_week}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.escalaciones > 0 ? '#8e1600' : '#333'};font-weight:600\">${r.escalaciones}</td>\n        <td style=\"padding:10px 8px;text-align:center;color:${r.urgentes > 0 ? '#c0392b' : '#333'}\">${r.urgentes}</td>\n        <td style=\"padding:10px 8px;text-align:center\">${r.mismatches}</td>\n      </tr>\n    `;\n  }).join('');\n\n  const topRiskRows = topRiskGlobal.slice(0, 5).map((d, i) => `\n    <tr>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;color:#888;width:24px\">${i + 1}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0\">\n        <a href=\"${d.url}\" style=\"color:#0073ea;text-decoration:none;font-weight:600\">${truncate(d.title, 52)}</a>\n        <div style=\"color:#888;font-size:12px\">${truncate(d.org, 52)} · ${d.stage} · ${d.owner}</div>\n      </td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap\">${formatMoneyMXN(d.value)}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f0f0f0;text-align:right;white-space:nowrap;color:#c0392b;font-weight:600\">${d.days}d</td>\n    </tr>\n  `).join('');\n\n  const redFlags = sortedReps.filter(r => r.coaching.flag === '🔴');\n  const zeroMovement = sortedReps.filter(r => r.deals_open > 0 && r.deals_moved_week === 0);\n\n  return `\n<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:780px;margin:0 auto;background:#ffffff\">\n\n  <div style=\"background:linear-gradient(135deg,#1a237e,#0073ea);padding:24px;border-radius:8px 8px 0 0\">\n    <div style=\"color:#ffffff;font-size:12px;text-transform:uppercase;letter-spacing:1px;opacity:0.8\">Pipeline Pulse Semanal — Resumen Ejecutivo</div>\n    <h1 style=\"color:#ffffff;margin:6px 0 0;font-size:22px;font-weight:700\">Equipo Comercial Bambu</h1>\n    <div style=\"color:#ffffff;font-size:13px;margin-top:6px;opacity:0.9\">${weekRangeLabel}</div>\n  </div>\n\n  <div style=\"border:1px solid #e0e0e0;border-top:none;padding:24px;border-radius:0 0 8px 8px\">\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Top Line</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tr>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center;border-radius:4px 0 0 4px\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Deals abiertos</div>\n          <div style=\"font-size:24px;font-weight:700;color:#0073ea\">${totals.deals_open}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">${formatMoneyMXN(totals.total_value_open)}</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Avanzados</div>\n          <div style=\"font-size:24px;font-weight:700;color:${totals.deals_moved_week > 0 ? '#27ae60' : '#c0392b'}\">${totals.deals_moved_week}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">esta semana</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Alertas totales</div>\n          <div style=\"font-size:24px;font-weight:700;color:#333\">${totals.alerts_week}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">generadas</div>\n        </td>\n        <td style=\"padding:14px;background:#f8f9fa;text-align:center;border-radius:0 4px 4px 0\">\n          <div style=\"color:#888;font-size:11px;text-transform:uppercase\">Escalaciones</div>\n          <div style=\"font-size:24px;font-weight:700;color:${totals.escalaciones > 0 ? '#8e1600' : '#333'}\">${totals.escalaciones}</div>\n          <div style=\"color:#888;font-size:11px;margin-top:2px\">${totals.mismatches} mismatches</div>\n        </td>\n      </tr>\n    </table>\n\n    ${redFlags.length > 0 ? `\n    <div style=\"margin-bottom:24px;padding:14px 18px;background:#ffe8e8;border-left:4px solid #c0392b;border-radius:0 6px 6px 0\">\n      <strong style=\"color:#c0392b\">🔴 Atencion requerida:</strong>\n      <span style=\"color:#555\"> ${redFlags.length} rep(s) en semaforo rojo: ${redFlags.map(r => r.name).join(', ')}. Revisar en 1:1 esta semana.</span>\n    </div>` : ''}\n\n    ${zeroMovement.length > 0 ? `\n    <div style=\"margin-bottom:24px;padding:14px 18px;background:#fff8e1;border-left:4px solid #f39c12;border-radius:0 6px 6px 0\">\n      <strong style=\"color:#e67e22\">⚠️ Sin movimiento esta semana:</strong>\n      <span style=\"color:#555\"> ${zeroMovement.map(r => r.name).join(', ')} no avanzaron ningun deal de etapa.</span>\n    </div>` : ''}\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Ranking del equipo</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <thead>\n        <tr style=\"background:#333;color:#ffffff\">\n          <th style=\"padding:10px 8px;text-align:left\">Rep</th>\n          <th style=\"padding:10px 8px;text-align:left\">Rol</th>\n          <th style=\"padding:10px 8px;text-align:center\">Abiertos</th>\n          <th style=\"padding:10px 8px;text-align:center\">Avanzados</th>\n          <th style=\"padding:10px 8px;text-align:center\">Alertas</th>\n          <th style=\"padding:10px 8px;text-align:center\">🚨</th>\n          <th style=\"padding:10px 8px;text-align:center\">🔴</th>\n          <th style=\"padding:10px 8px;text-align:center\">Mismatch</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${repRows}\n      </tbody>\n    </table>\n\n    <h3 style=\"color:#333;font-size:14px;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px;border-bottom:2px solid #f0f0f0;padding-bottom:8px\">Top 5 deals en riesgo global</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;margin-bottom:24px\">\n      <tbody>\n        ${topRiskRows || '<tr><td colspan=\"4\" style=\"padding:14px;text-align:center;color:#999;font-style:italic\">Sin deals en riesgo esta semana</td></tr>'}\n      </tbody>\n    </table>\n\n    <div style=\"padding:14px;background:#f8f9fa;border-radius:6px;font-size:12px;color:#666;line-height:1.6\">\n      <strong style=\"color:#333\">Metodologia v1:</strong> Este reporte usa data de Pipedrive (deals, stage_change_time, last_activity_date) y del Sheet WF-03 Alert Log de la semana en curso. Las coaching cards individuales se enviaron en paralelo a cada rep con CC al CGO. Version futura incluira analisis de llamadas via Fireflies + Claude.\n    </div>\n\n  </div>\n\n  <div style=\"padding:14px;text-align:center;color:#bbb;font-size:11px\">\n    WF-08 Pipeline Pulse Semanal v1 · Bambu Tech Services · ${now.toLocaleDateString('es-MX', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}\n  </div>\n</div>`;\n}\n\n\n// ============================================\n// SECCION 7: BUILD OUTPUTS\n// ============================================\n\nconst outputs = [];\nconst repsArray = Object.values(repStats);\n\n// Aplicar limite de reps si esta configurado (testing)\nconst repsToSend = MAX_REPS_PER_RUN > 0 ? repsArray.slice(0, MAX_REPS_PER_RUN) : repsArray;\n\n// Calcular totales globales para el resumen ejecutivo\nconst totals = repsArray.reduce((acc, r) => ({\n  deals_open: acc.deals_open + r.deals_open,\n  total_value_open: acc.total_value_open + r.total_value_open,\n  deals_moved_week: acc.deals_moved_week + r.deals_moved_week,\n  deals_no_activity_week: acc.deals_no_activity_week + r.deals_no_activity_week,\n  alerts_week: acc.alerts_week + r.alerts_week,\n  escalaciones: acc.escalaciones + r.escalaciones,\n  urgentes: acc.urgentes + r.urgentes,\n  suaves: acc.suaves + r.suaves,\n  inactividad: acc.inactividad + r.inactividad,\n  mismatches: acc.mismatches + r.mismatches,\n}), {\n  deals_open: 0, total_value_open: 0, deals_moved_week: 0, deals_no_activity_week: 0,\n  alerts_week: 0, escalaciones: 0, urgentes: 0, suaves: 0, inactividad: 0, mismatches: 0,\n});\n\n// Top risk global: juntar top_risk_deals de todos los reps y quedarse con top 5\nconst topRiskGlobal = [];\nfor (const r of repsArray) {\n  for (const d of r.top_risk_deals) {\n    topRiskGlobal.push({ ...d, owner: r.name });\n  }\n}\ntopRiskGlobal.sort((a, b) => b.risk - a.risk);\n\n// --- Coaching cards individuales ---\nfor (const rep of repsToSend) {\n  const realRecipients = CC_CGO_ON_INDIVIDUAL && rep.email !== CGO_EMAIL\n    ? `${rep.email},${CGO_EMAIL}`\n    : rep.email;\n  const recipients = TEST_MODE ? TEST_EMAIL : realRecipients;\n  const subjectPrefix = TEST_MODE ? '[TEST] ' : '';\n\n  outputs.push({\n    type: 'coaching_card',\n    recipients,\n    email_subject: `${subjectPrefix}📊 Tu Pipeline Pulse Semanal | ${rep.name} | ${weekRangeLabel}`,\n    email_body: renderCoachingCard(rep),\n    // Fields para sheet tracking\n    timestamp: now.toISOString(),\n    week_start: weekStartISO,\n    rep_name: rep.name,\n    rep_email: rep.email,\n    rep_role: rep.role_label,\n    deals_owned: rep.deals_owned,\n    deals_open: rep.deals_open,\n    total_value_open: rep.total_value_open,\n    deals_moved_week: rep.deals_moved_week,\n    deals_no_activity_week: rep.deals_no_activity_week,\n    alerts_week: rep.alerts_week,\n    escalaciones: rep.escalaciones,\n    urgentes: rep.urgentes,\n    suaves: rep.suaves,\n    inactividad: rep.inactividad,\n    mismatches: rep.mismatches,\n    coaching_flag: rep.coaching.flag,\n    coaching_headline: rep.coaching.headline,\n    coaching_action: rep.coaching.action,\n  });\n}\n\n// --- Resumen ejecutivo para CGO ---\n// Se emite si INCLUDE_EXEC_SUMMARY y (estamos en modo full o en TEST_MODE)\nif (INCLUDE_EXEC_SUMMARY && (MAX_REPS_PER_RUN === 0 || TEST_MODE)) {\n  const execRecipients = TEST_MODE ? TEST_EMAIL : CGO_EMAIL;\n  const execSubjectPrefix = TEST_MODE ? '[TEST] ' : '';\n  outputs.push({\n    type: 'executive_summary',\n    recipients: execRecipients,\n    email_subject: `${execSubjectPrefix}📈 Pipeline Pulse Semanal — Resumen Ejecutivo | ${weekRangeLabel}`,\n    email_body: renderExecSummary(repsArray, totals, topRiskGlobal),\n    timestamp: now.toISOString(),\n    week_start: weekStartISO,\n    rep_name: 'EQUIPO COMPLETO',\n    rep_email: CGO_EMAIL,\n    rep_role: 'CGO Summary',\n    deals_owned: repsArray.reduce((a, r) => a + r.deals_owned, 0),\n    deals_open: totals.deals_open,\n    total_value_open: totals.total_value_open,\n    deals_moved_week: totals.deals_moved_week,\n    deals_no_activity_week: totals.deals_no_activity_week,\n    alerts_week: totals.alerts_week,\n    escalaciones: totals.escalaciones,\n    urgentes: totals.urgentes,\n    suaves: totals.suaves,\n    inactividad: totals.inactividad,\n    mismatches: totals.mismatches,\n    coaching_flag: '📊',\n    coaching_headline: `${repsArray.length} reps monitoreados`,\n    coaching_action: 'Resumen ejecutivo semanal del equipo comercial',\n  });\n}\n\n// Log\nconsole.log('WF-08 Resumen:', JSON.stringify({\n  week_range: weekRangeLabel,\n  deals_totales_pipedrive: allDeals.length,\n  sheet_rows_leidas: sheetRows.length,\n  reps_procesados: repsArray.length,\n  reps_en_output: repsToSend.length,\n  exec_summary_incluido: INCLUDE_EXEC_SUMMARY && MAX_REPS_PER_RUN === 0,\n  total_outputs: outputs.length,\n  totales: totals,\n}, null, 2));\n\nreturn outputs.map(o => ({ json: o }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"f7df72f6-4c8f-4c50-be80-ad088749f057","name":"Build Coaching Digest"},{"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"= {{ $json.recipients }} ","subject":"= {{ $json.email_subject }} ","html":"={{ $json.email_body }}  ","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1040,192],"id":"3be0189f-76f3-4b7e-98aa-2f731a4397ee","name":"Send Coaching Email","webhookId":"99f8d237-037c-4843-9cb0-6f3aa6e11576","credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1898270255,"mode":"list","cachedResultName":"CoachingLog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ/edit#gid=1898270255"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.timestamp }}  ","week_start":"={{ $json.week_start }}    ","rep_name":"={{ $json.rep_name }}   ","rep_email":"={{ $json.rep_email }} ","rep_role":"={{ $json.rep_role }}  ","deals_owned":"={{ $json.deals_owned }} ","deals_open":"={{ $json.deals_open }}  ","total_value_open":"={{ $json.total_value_open }}  ","deals_moved_week":"={{ $json.deals_moved_week }}  ","deals_no_activity_week":"={{ $json.deals_no_activity_week }} ","alerts_week":"={{ $json.alerts_week }}  ","escalaciones":"={{ $json.escalaciones }}  ","urgentes":"={{ $json.urgentes }} ","suaves":"={{ $json.suaves }} ","inactividad":"={{ $json.inactividad }}  ","mismatches":"={{ $json.mismatches }} ","coaching_flag":"={{ $json.coaching_flag }} ","coaching_headline":"={{ $json.coaching_headline }} ","coaching_action":"={{ $json.coaching_action }}  ","type":"={{ $json.type }} ","email_subject":"={{ $json.email_subject }}  "},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"week_start","displayName":"week_start","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_name","displayName":"rep_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_email","displayName":"rep_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rep_role","displayName":"rep_role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_owned","displayName":"deals_owned","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_open","displayName":"deals_open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_value_open","displayName":"total_value_open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_moved_week","displayName":"deals_moved_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deals_no_activity_week","displayName":"deals_no_activity_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"alerts_week","displayName":"alerts_week","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"escalaciones","displayName":"escalaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"urgentes","displayName":"urgentes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"suaves","displayName":"suaves","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"inactividad","displayName":"inactividad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mismatches","displayName":"mismatches","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_flag","displayName":"coaching_flag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_headline","displayName":"coaching_headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coaching_action","displayName":"coaching_action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_subject","displayName":"email_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,0],"id":"b5bdd3d4-1897-4b3c-ad15-0b2810af3bfd","name":"Append CoachingLog","credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"mon01-trigger-lunes-8am","name":"Trigger Lunes 8am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1"}]}}},{"id":"mon02-get-pipeline-monday","name":"Get Pipeline Monday","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,460],"parameters":{"url":"https://bambumobile.pipedrive.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"all_not_deleted"},{"name":"pipeline_id","value":"1"},{"name":"limit","value":"500"},{"name":"api_token","value":"={{ $vars.PIPEDRIVE_API_TOKEN }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"start","value":"={{ $pageCount * 500 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.additional_data.pagination.more_items_in_collection === false }}","limitPagesFetched":true,"maxRequests":10}}}}},{"id":"mon03-consolidate-monday","name":"Consolidate Monday","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,460],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Consolidate Monday — igual a Consolidate Deals pero acumula paginación\nconst items = $input.all();\nlet allDeals = [];\nfor (const item of items) {\n  const data = item.json.data;\n  if (Array.isArray(data)) allDeals = allDeals.concat(data);\n}\nreturn [{ json: { deals: allDeals, total: allDeals.length } }];"}},{"id":"mon04-read-pipeline-snapshot","name":"Read Pipeline Snapshot","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[624,460],"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu"},"sheetName":{"__rl":true,"value":"Pipeline Snapshots","mode":"name"},"options":{"returnAllMatches":true}},"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"mon05-build-monday-pulse","name":"Build Monday Pulse","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,460],"parameters":{"mode":"runOnceForAllItems","jsCode":"// ============================================\n// WF-08B: MONDAY PIPELINE PULSE\n// Bambu Tech Services — Lunes 8:00am CDMX\n// Pipeline snapshot semanal + delta vs semana anterior\n// ============================================\n// Input: $input = rows de Pipeline Snapshots (Sheets)\n// $('Consolidate Monday').first().json = {deals: [...all deals incl. won]}\n// ============================================\n\nconst CGO_EMAIL = 'roberto.esparza@bambu-techservices.com';\nconst DASHBOARD_URL = 'https://bambu-sales-automatization.vercel.app/dashboard-q2';\nconst META_ANUAL = 117500000;\n\nconst STAGE_CONFIG = {\n  7:  {name:'Re-contactar',           emoji:'🔄', weight:0.05},\n  8:  {name:'MQL - Lead Frío',        emoji:'🥶', weight:0.03},\n  1:  {name:'Lead In - BANT',         emoji:'👍', weight:0.10},\n  17: {name:'Hot Lead In - BANT',     emoji:'👀', weight:0.15},\n  2:  {name:'Presentar Credenciales', emoji:'💻', weight:0.15},\n  18: {name:'Proceso NDA',            emoji:'✍️', weight:0.20},\n  3:  {name:'Taller Requerimientos',  emoji:'🤯', weight:0.25},\n  4:  {name:'Realizando Propuesta',   emoji:'🤓', weight:0.35},\n  16: {name:'Propuesta Enviada',      emoji:'🚀', weight:0.55},\n  5:  {name:'Negociaciones',          emoji:'🕯', weight:0.70},\n  9:  {name:'Calientes',              emoji:'🔥', weight:0.85},\n};\n\n// --- Get deals from Consolidate Monday ---\nconst consolidateData = $('Consolidate Monday').first().json;\nconst allDeals = consolidateData.deals || [];\n\n// --- Open and Won deals ---\nconst openDeals = allDeals.filter(d => d.status === 'open' && d.pipeline_id === 1);\nconst wonDeals  = allDeals.filter(d => d.status === 'won' && (d.won_time || '').startsWith('2026'));\nconst nbYTD = wonDeals.reduce((s, d) => s + (d.value || 0), 0);\n\n// --- Compute current KPIs ---\nlet bruto = 0, ponderado = 0;\nconst byStage = {};\nfor (const deal of openDeals) {\n  const val = deal.value || 0;\n  const sid = deal.stage_id;\n  const cfg = STAGE_CONFIG[sid] || {name:`Stage ${sid}`, emoji:'', weight:0.1};\n  bruto    += val;\n  ponderado += val * cfg.weight;\n  if (!byStage[sid]) byStage[sid] = {name:cfg.name, emoji:cfg.emoji, count:0, bruto:0};\n  byStage[sid].count++;\n  byStage[sid].bruto += val;\n}\n\n// --- Get last snapshot for delta ---\nconst snapRows = $input.all();\nlet lastSnap = null;\nif (snapRows.length > 0) {\n  const row = snapRows[snapRows.length - 1].json;\n  lastSnap = {\n    fecha:    row.fecha || '',\n    bruto:    parseFloat(row.bruto_total)  || 0,\n    pond:     parseFloat(row.pond_total)   || 0,\n    nbYTD:    parseFloat(row.nb_ytd)       || 0,\n    dealsOpen:parseInt(row.deals_open)     || 0,\n  };\n}\n\n// --- Format helpers ---\nconst fmt = v => '$' + (v/1e6).toFixed(2) + 'M';\nconst fmtD = v => {\n  if (!lastSnap || v === 0) return '<span style=\"color:#4a6e4a\">—</span>';\n  const sign = v > 0 ? '▲' : '▼';\n  const color = v > 0 ? '#4ade80' : '#ef4444';\n  return `<span style=\"color:${color}\">${sign} ${fmt(Math.abs(v))}</span>`;\n};\nconst fmtDN = v => {\n  if (!lastSnap || v === 0) return '<span style=\"color:#4a6e4a\">—</span>';\n  const sign = v > 0 ? '▲' : '▼';\n  const color = v > 0 ? '#4ade80' : '#ef4444';\n  return `<span style=\"color:${color}\">${sign} ${Math.abs(v)}</span>`;\n};\n\nconst deltaBruto  = lastSnap ? bruto - lastSnap.bruto : 0;\nconst deltaPond   = lastSnap ? ponderado - lastSnap.pond : 0;\nconst deltaDeals  = lastSnap ? openDeals.length - lastSnap.dealsOpen : 0;\nconst deltaNB     = lastSnap ? nbYTD - lastSnap.nbYTD : 0;\n\n// Coverage\nconst metaRest = META_ANUAL - nbYTD;\nconst cov = metaRest > 0 ? (ponderado / metaRest) : 0;\nconst covColor = cov >= 2.0 ? '#00CC3C' : cov >= 1.0 ? '#f59e0b' : '#ef4444';\nconst covTxt = cov.toFixed(2) + 'x';\n\n// Date\nconst now = new Date();\nconst fechaHoy = now.toLocaleDateString('es-MX', {\n  timeZone:'America/Mexico_City', year:'numeric', month:'long', day:'numeric'\n});\nconst prevNote = lastSnap\n  ? `<div style=\"font-size:10px;color:#4a6e4a;margin-top:8px;\">Δ comparado vs ${lastSnap.fecha}</div>`\n  : `<div style=\"font-size:10px;color:#4a6e4a;margin-top:8px;\">ℹ️ Primera ejecución — próxima semana mostrará deltas</div>`;\n\n// Stage table rows (sorted by bruto desc, skip tiny/zero)\nconst stageRows = Object.entries(byStage)\n  .filter(([,s]) => s.bruto > 100000)\n  .sort(([,a],[,b]) => b.bruto - a.bruto)\n  .map(([,s]) => `\n    <tr>\n      <td style=\"padding:5px 10px;border-bottom:1px solid #1a2e1a;\">${s.emoji} ${s.name}</td>\n      <td style=\"padding:5px 10px;text-align:center;border-bottom:1px solid #1a2e1a;\">${s.count}</td>\n      <td style=\"padding:5px 10px;text-align:right;font-family:monospace;border-bottom:1px solid #1a2e1a;\">${fmt(s.bruto)}</td>\n    </tr>`).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>body{background:#09100a;color:#e0ece0;font-family:Inter,Arial,sans-serif;margin:0;padding:0}\na{color:#00CC3C}</style></head>\n<body>\n<div style=\"max-width:580px;margin:0 auto;padding:20px;\">\n\n  <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-left:3px solid #00CC3C;border-radius:6px;padding:16px 18px;margin-bottom:14px;\">\n    <div style=\"font-size:10px;color:#00CC3C;font-weight:700;letter-spacing:1.2px;margin-bottom:6px;\">📡 MONDAY PIPELINE PULSE · BAMBU TECH SERVICES</div>\n    <div style=\"font-size:15px;font-weight:700;\">${fechaHoy}</div>\n    <div style=\"font-size:11px;color:#7a9e7a;margin-top:3px;\">${openDeals.length.toLocaleString()} deals activos · Motor WF-08</div>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:10px;margin-bottom:14px;\">\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">PIPELINE BRUTO</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${fmt(bruto)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaBruto)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">PONDERADO</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${fmt(ponderado)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaPond)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">COVERAGE H2</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;color:${covColor};\">${covTxt}</div>\n      <div style=\"font-size:10px;color:#7a9e7a;margin-top:3px;\">Target ≥ 2.0x</div>\n    </div>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:14px;\">\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">NB GANADO YTD 2026</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;color:#00CC3C;\">${fmt(nbYTD)}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtD(deltaNB)}</div>\n    </div>\n    <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;padding:12px;\">\n      <div style=\"font-size:9px;color:#7a9e7a;font-weight:700;letter-spacing:1px;margin-bottom:4px;\">DEALS ABIERTOS</div>\n      <div style=\"font-size:18px;font-weight:800;font-family:monospace;\">${openDeals.length.toLocaleString()}</div>\n      <div style=\"font-size:11px;margin-top:3px;\">${fmtDN(deltaDeals)}</div>\n    </div>\n  </div>\n\n  <div style=\"background:#0e170f;border:1px solid #1a2e1a;border-radius:6px;margin-bottom:14px;overflow:hidden;\">\n    <div style=\"padding:10px 14px;border-bottom:1px solid #1a2e1a;font-size:10px;font-weight:700;color:#7a9e7a;letter-spacing:1px;\">PIPELINE POR ETAPA</div>\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;\">\n      <tr style=\"background:#121c12;\">\n        <th style=\"padding:6px 10px;text-align:left;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">ETAPA</th>\n        <th style=\"padding:6px 10px;text-align:center;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">DEALS</th>\n        <th style=\"padding:6px 10px;text-align:right;color:#7a9e7a;font-size:9px;font-weight:600;letter-spacing:.8px;\">BRUTO</th>\n      </tr>\n      ${stageRows}\n    </table>\n  </div>\n\n  <div style=\"text-align:center;margin-bottom:14px;\">\n    <a href=\"${DASHBOARD_URL}\" style=\"background:#00CC3C;color:#09100a;font-weight:700;padding:10px 24px;border-radius:6px;text-decoration:none;font-size:13px;display:inline-block;\">📊 Ver Dashboard Completo →</a>\n  </div>\n\n  ${prevNote}\n\n  <div style=\"border-top:1px solid #1a2e1a;padding-top:10px;margin-top:12px;font-size:10px;color:#4a6e4a;\">\n    📡 Generado automáticamente · Lunes 8:00am CDMX · WF-08 Pipeline Pulse · Bambu Tech Services\n  </div>\n</div>\n</body></html>`;\n\n// Save snapshot data for Sheets node\nconst snapFecha = now.toISOString().slice(0,10);\n\nreturn [{json:{\n  subject: `📡 Monday Pipeline Pulse — ${snapFecha} · ${fmt(ponderado)} pond · ${covTxt} cov`,\n  html:    html,\n  to:      CGO_EMAIL,\n  toName:  'Roberto Esparza',\n  // For Save Snapshot node\n  snap_fecha:    snapFecha,\n  snap_bruto:    Math.round(bruto),\n  snap_pond:     Math.round(ponderado),\n  snap_nb_ytd:   Math.round(nbYTD),\n  snap_deals:    openDeals.length,\n  snap_coverage: cov.toFixed(2),\n}}];"}},{"id":"mon06-send-monday-email","name":"Send Monday Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1040,460],"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}},"webhookId":"549d9c20-4ece-4374-812a-45611774419a"},{"id":"mon07-save-pipeline-snapshot","name":"Save Pipeline Snapshot","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1040,620],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t9HDzmvt6fZzGm34BxUFRxw6t8kSSdKnpr7V_-vSRHQ","mode":"list","cachedResultName":"WF-03 Alert Log - Bambu"},"sheetName":{"__rl":true,"value":"Pipeline Snapshots","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}}],"connections":{"Trigger Viernes 5pm":{"main":[[{"node":"Get Pipedrive Deals","type":"main","index":0}]]},"Get Pipedrive Deals":{"main":[[{"node":"Consolidate Deals","type":"main","index":0}]]},"Consolidate Deals":{"main":[[{"node":"Read WF-03 Alerts","type":"main","index":0}]]},"Read WF-03 Alerts":{"main":[[{"node":"Build Coaching Digest","type":"main","index":0}]]},"Build Coaching Digest":{"main":[[{"node":"Append CoachingLog","type":"main","index":0},{"node":"Send Coaching Email","type":"main","index":0}]]},"Append CoachingLog":{"main":[[]]},"Trigger Lunes 8am":{"main":[[{"node":"Get Pipeline Monday","type":"main","index":0}]]},"Get Pipeline Monday":{"main":[[{"node":"Consolidate Monday","type":"main","index":0}]]},"Consolidate Monday":{"main":[[{"node":"Read Pipeline Snapshot","type":"main","index":0}]]},"Read Pipeline Snapshot":{"main":[[{"node":"Build Monday Pulse","type":"main","index":0}]]},"Build Monday Pulse":{"main":[[{"node":"Send Monday Email","type":"main","index":0},{"node":"Save Pipeline Snapshot","type":"main","index":0}]]},"Send Monday Email":{"main":[[]]},"Save Pipeline Snapshot":{"main":[[]]}},"nodeGroups":[],"authors":"Roberto Esparza","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-26T01:58:34.960Z","id":172,"workflowId":"WWDuIRSoSYVMEAe9","versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","event":"activated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"},{"createdAt":"2026-06-26T01:58:45.939Z","id":174,"workflowId":"WWDuIRSoSYVMEAe9","versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","event":"activated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"},{"createdAt":"2026-06-26T01:58:34.805Z","id":171,"workflowId":"WWDuIRSoSYVMEAe9","versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","event":"deactivated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"},{"createdAt":"2026-06-26T01:58:45.894Z","id":173,"workflowId":"WWDuIRSoSYVMEAe9","versionId":"6f8db95a-55b4-4894-a111-0219ea1bff70","event":"deactivated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"}]}}