Dev/Bambu Sales Automatization/Workflows/WF-10B-Campaign-Creator-n8n.json
{"updatedAt":"2026-06-19T20:57:10.325Z","createdAt":"2026-06-02T23:45:54.592Z","id":"gdbczgw1BIYHIxiT","name":"WF-10B — Campaign Creator (Brief → Pipedrive Campaigns)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"GET","url":"=https://api.pipedrive.com/v1/persons?limit=200&start=0&api_token={{ $vars.PIPEDRIVE_API_TOKEN }}","options":{}},"id":"c0000002-0000-0000-0000-000000000002","name":"PD — Obtener Contactos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,280]},{"parameters":{"method":"GET","url":"=https://api.pipedrive.com/v1/deals?status=won&limit=200&api_token={{ $vars.PIPEDRIVE_API_TOKEN }}","options":{}},"id":"c0000003-0000-0000-0000-000000000003","name":"PD — Clientes (Deals Ganados)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,440]},{"parameters":{"mode":"append","numberInputs":3},"id":"c0000004-0000-0000-0000-000000000004","name":"Merge Brief + Contactos","type":"n8n-nodes-base.merge","typeVersion":3,"position":[680,400]},{"parameters":{"jsCode":"// Combina brief, personas y clientes; segmenta y prepara el copy\nconst allItems = $input.all();\nconst briefItem    = $('Filtrar Aprobado').first().json;\nconst personsResp  = allItems[1]?.json || {};\nconst wonDealsResp = allItems[2]?.json || {};\n\nconst persons  = personsResp.data  || [];\nconst wonDeals = wonDealsResp.data || [];\nconst brief_md = briefItem.brief_md || '';\nconst tipo     = briefItem.tipo_campaña || 'T1';\n\n// IDs de clientes (personas con deal ganado)\nconst clientPersonIds = new Set(wonDeals.map(d => d.person_id?.value).filter(Boolean));\n\n// Personas con email, separadas por segmento\nconst KEYWORDS = {\n  'Manufactura / Nearshoring': ['manufactur','industrial','plant','automotri','aerospace','semiconductor','nearshoring'],\n  'Financiero / Fintech':      ['banco','bank','financier','fintech','seguro','credito','pago','afore','inversion'],\n  'Retail / CPG':              ['retail','comercio','tienda','supermercado','walmart','oxxo','fmcg','consumer','aliment'],\n  'Gobierno':                  ['gobierno','municipal','estado','secretaria','imss','issste','pemex','cfe','federal'],\n  'Salud':                     ['hospital','clinica','salud','medic','pharma','laboratori'],\n  'Tecnología / IT':           ['tecnolog','software','digital','tech','system','solution','data','cloud'],\n  'Telecomunicaciones':        ['telecom','telcel','telmex','at&t','movistar','axtel','megacable'],\n  'Transporte / Logística':    ['transport','logistic','carga','cargo','aerolinea'],\n  'Energía':                   ['energia','petroleo','gas','electric','solar','eolica']\n};\n\nfunction getSegment(orgName) {\n  const n = (orgName || '').toLowerCase();\n  for (const [seg, kws] of Object.entries(KEYWORDS)) {\n    if (kws.some(kw => n.includes(kw))) return seg;\n  }\n  return 'Sin clasificar';\n}\n\n// Construir lista segmentada con email\nconst segmented = {};\nconst allEmailList = [];\n\npersons.forEach(p => {\n  const email = p.email?.[0]?.value;\n  if (!email) return;\n  const orgName = p.org_id?.name || '';\n  const seg = getSegment(orgName);\n  const isClient = clientPersonIds.has(p.id);\n  const contact = {\n    id: p.id,\n    name: p.name,\n    email,\n    org: orgName,\n    segmento: seg,\n    tipo_contacto: isClient ? 'Cliente' : 'Prospecto'\n  };\n  if (!segmented[seg]) segmented[seg] = { clientes: [], prospectos: [] };\n  isClient ? segmented[seg].clientes.push(contact) : segmented[seg].prospectos.push(contact);\n  allEmailList.push(contact);\n});\n\n// Resumen de segmentación\nconst segResumen = Object.entries(segmented).map(([seg, data]) => ({\n  segmento: seg,\n  clientes: data.clientes.length,\n  prospectos: data.prospectos.length,\n  total: data.clientes.length + data.prospectos.length\n})).sort((a, b) => b.total - a.total);\n\nreturn [{\n  json: {\n    brief_md,\n    tipo_campaña: tipo,\n    fecha_corta: briefItem.fecha || new Date().toLocaleDateString('es-MX'),\n    segmented,\n    segResumen,\n    total_campañable: allEmailList.length,\n    all_email_list: allEmailList\n  }\n}];"},"id":"c0000005-0000-0000-0000-000000000005","name":"Segmentar Contactos","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 4096, messages: [{ role: 'user', content: 'Eres copywriter senior B2B de Bambu Tech Services en México.\\n\\nBasándote en este brief de inteligencia comercial:\\n\\n' + $json.brief_md + '\\n\\nSegmentación actual del CRM:\\n' + JSON.stringify($json.segResumen) + '\\n\\nGenera el copy para DOS canales en JSON exacto con esta estructura:\\n{\\n  \"email\": {\\n    \"subject\": \"Asunto (max 50 chars, urgencia sin clickbait)\",\\n    \"preheader\": \"Preheader (max 85 chars)\",\\n    \"hero_headline\": \"Titular hero (max 60 chars)\",\\n    \"hero_subline\": \"Subtítulo (max 100 chars)\",\\n    \"flash_bullets\": [\"bullet1\", \"bullet2\", \"bullet3\"],\\n    \"sections\": [{\"vertical\": \"\", \"emoji\": \"\", \"noticia_titulo\": \"\", \"contexto\": \"2-3 líneas\", \"decisor\": \"\", \"angulo_bambu\": \"\", \"urgencia\": \"ALTA/MEDIA/BAJA\"}],\\n    \"oportunidad_titulo\": \"\",\\n    \"oportunidad_cuerpo\": \"2 líneas\",\\n    \"cta_texto\": \"max 30 chars\",\\n    \"cta_url\": \"https://bambu-techservices.com/contacto\"\\n  },\\n  \"whatsapp\": {\\n    \"mensaje\": \"Texto WA max 1024 chars, sin HTML, saludo + 2 bullets con emojis + pregunta apertura + link\"\\n  }\\n}\\n\\nRespuesta SOLO el JSON, sin markdown ni explicaciones.' }] }) }}","options":{}},"id":"c0000006-0000-0000-0000-000000000006","name":"Claude — Dual Copy","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400]},{"parameters":{"jsCode":"// Parsea la respuesta de Claude y prepara los datos para crear la campaña\nconst claudeResp = $input.first().json;\nconst rawText = claudeResp.content?.[0]?.text || '{}';\n\nlet copy;\ntry {\n  // Claude puede responder con ```json ... ``` o directo\n  const clean = rawText.replace(/^```json\\s*/i,'').replace(/```\\s*$/,'').trim();\n  copy = JSON.parse(clean);\n} catch(e) {\n  copy = { email: { subject: 'Intel Comercial Bambu', preheader: '', hero_headline: 'Las señales de mercado de esta semana', hero_subline: '', flash_bullets: [], sections: [], oportunidad_titulo: '', oportunidad_cuerpo: '', cta_texto: 'Conversemos', cta_url: 'https://bambu-techservices.com/contacto' }, whatsapp: { mensaje: '' } };\n}\n\n// Pasar también los datos del paso anterior\nconst prev = $('Segmentar Contactos').first().json;\n\nreturn [{\n  json: {\n    email_copy: copy.email,\n    wa_mensaje: copy.whatsapp?.mensaje || '',\n    brief_md: prev.brief_md,\n    segmented: prev.segmented,\n    segResumen: prev.segResumen,\n    total_campañable: prev.total_campañable,\n    fecha_corta: prev.fecha_corta\n  }\n}];"},"id":"c0000007-0000-0000-0000-000000000007","name":"Parse Copy Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400]},{"parameters":{"jsCode":"// Construye el HTML final del email T1 — Newsletter Intel Bambu\n// Combina el template base con el copy generado por Claude\nconst { email_copy: c, fecha_corta } = $input.first().json;\n\nconst flashBullets = (c.flash_bullets || []).map(b =>\n  `<tr><td style=\"padding:8px 20px;font-family:Arial,sans-serif;font-size:15px;color:#333;border-left:3px solid #F0B429;\">&#9889; ${b}</td></tr>`\n).join('');\n\nconst sections = (c.sections || []).map(s => `\n  <tr><td style=\"padding:20px 30px 0;background:#fff;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#888;text-transform:uppercase;letter-spacing:1px;\">${s.emoji || '📊'} ${s.vertical}</p>\n    <h3 style=\"margin:0 0 8px;font-family:Arial,sans-serif;font-size:17px;color:#111;line-height:1.3;\">${s.noticia_titulo}</h3>\n    <p style=\"margin:0 0 8px;font-family:Arial,sans-serif;font-size:14px;color:#444;line-height:1.6;\">${s.contexto}</p>\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;color:#666;\">🎯 <strong>Decisor:</strong> ${s.decisor}</p>\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;font-style:italic;background:#FFF8E1;padding:10px 14px;border-radius:4px;border-left:3px solid #F0B429;\">💡 ${s.angulo_bambu}</p>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:12px;\"><strong>⚡ Urgencia: <span style=\"color:${s.urgencia==='ALTA'||s.urgencia==='CRÍTICA'?'#c0392b':s.urgencia==='MEDIA'?'#e67e22':'#27ae60'}\">${s.urgencia}</span></strong></p>\n  </td></tr>\n  <tr><td style=\"padding:0 30px;\"><hr style=\"border:none;border-top:1px solid #eee;margin:16px 0;\"></td></tr>`\n).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>${c.subject}</title>\n</head>\n<body style=\"margin:0;padding:0;background:#F4F4F4;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F4F4;\">\n<tr><td align=\"center\" style=\"padding:20px 10px;\">\n\n<!-- Wrapper 600px -->\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n\n  <!-- HEADER -->\n  <tr><td style=\"background:#000;padding:18px 30px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td style=\"font-family:Arial,sans-serif;font-size:20px;font-weight:700;color:#F0B429;letter-spacing:1px;\">BAMBU</td>\n      <td align=\"right\" style=\"font-family:Arial,sans-serif;font-size:11px;color:#888;\">${fecha_corta}</td>\n    </tr></table>\n  </td></tr>\n\n  <!-- HERO -->\n  <tr><td style=\"background:#111;padding:32px 30px 28px;\">\n    <p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:11px;color:#F0B429;text-transform:uppercase;letter-spacing:2px;\">&#128268; INTEL COMERCIAL BAMBU</p>\n    <h1 style=\"margin:0 0 10px;font-family:Arial,sans-serif;font-size:26px;color:#fff;line-height:1.25;\">${c.hero_headline}</h1>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;color:#aaa;line-height:1.5;\">${c.hero_subline}</p>\n  </td></tr>\n\n  <!-- FLASH DEL DÍA -->\n  <tr><td style=\"background:#fff;padding:20px 30px 8px;\">\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#888;text-transform:uppercase;letter-spacing:1px;\">&#9889; Flash de la semana</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${flashBullets}</table>\n  </td></tr>\n\n  <!-- DIVISOR -->\n  <tr><td style=\"background:#fff;padding:0 30px;\"><hr style=\"border:none;border-top:2px solid #F0B429;margin:20px 0 10px;\"></td></tr>\n\n  <!-- NOTICIAS PRINCIPALES -->\n  <tr><td style=\"background:#fff;padding:8px 30px 0;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#888;text-transform:uppercase;letter-spacing:1px;\">&#128202; Noticias principales</p>\n  </td></tr>\n  ${sections}\n\n  <!-- OPORTUNIDAD DE LA SEMANA -->\n  <tr><td style=\"background:#000;padding:28px 30px;\">\n    <p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:11px;color:#F0B429;text-transform:uppercase;letter-spacing:2px;\">&#128640; Oportunidad de la semana</p>\n    <h2 style=\"margin:0 0 10px;font-family:Arial,sans-serif;font-size:20px;color:#fff;line-height:1.3;\">${c.oportunidad_titulo}</h2>\n    <p style=\"margin:0 0 20px;font-family:Arial,sans-serif;font-size:14px;color:#ccc;line-height:1.6;\">${c.oportunidad_cuerpo}</p>\n    <table cellpadding=\"0\" cellspacing=\"0\">\n    <tr><td style=\"background:#F0B429;border-radius:4px;\">\n      <a href=\"${c.cta_url}\" style=\"display:inline-block;padding:13px 28px;font-family:Arial,sans-serif;font-size:14px;font-weight:700;color:#000;text-decoration:none;\">${c.cta_texto} &rarr;</a>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- FOOTER -->\n  <tr><td style=\"background:#222;padding:20px 30px;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;color:#ccc;\"><strong style=\"color:#fff;\">Bambu Tech Services</strong></p>\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#888;\">roberto.esparza@bambu-techservices.com</p>\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:12px;color:#888;\">bambu-techservices.com</p>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#555;\">\n      Estás recibiendo este correo porque formas parte de nuestra red de contactos profesionales.\n      <a href=\"{{unsubscribe}}\" style=\"color:#888;\">Cancelar suscripción</a>\n    </p>\n  </td></tr>\n\n</table>\n<!-- fin wrapper -->\n</td></tr></table>\n</body></html>`;\n\nreturn [{\n  json: {\n    html_email: html,\n    subject: c.subject,\n    preheader: c.preheader,\n    wa_mensaje: $input.first().json.wa_mensaje,\n    segResumen: $input.first().json.segResumen,\n    total_campañable: $input.first().json.total_campañable,\n    fecha_corta: $input.first().json.fecha_corta\n  }\n}];"},"id":"c0000008-0000-0000-0000-000000000008","name":"Build HTML Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{"method":"POST","url":"https://api.brevo.com/v3/emailCampaigns","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"={{ $vars.BREVO_API_KEY }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: 'Intel Bambu — ' + $('Build HTML Email').first().json.fecha_corta, subject: $('Build HTML Email').first().json.subject, sender: { name: 'Bambu Tech Services', email: 'roberto.esparza@bambu-techservices.com' }, replyTo: 'roberto.esparza@bambu-techservices.com', htmlContent: $('Build HTML Email').first().json.html_email, recipients: { listIds: [Number($vars.BREVO_LIST_ID)] } }) }}","options":{}},"id":"c0000009-0000-0000-0000-000000000009","name":"Brevo — Crear Campaña","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,280],"continueOnFail":true},{"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"roberto.esparza@bambu-techservices.com","subject":"=📧 Campaña Intel lista para enviar — {{ $json.fecha_corta }}","options":{},"html":"=<p>Hola Roberto,</p><p>La campaña de inteligencia comercial del <strong>{{ $json.fecha_corta }}</strong> está lista.</p><h3 style=\"margin:16px 0 8px;\">Segmentación</h3><table style=\"border-collapse:collapse;font-size:14px;\">{{ $json.segResumen.map(s => '<tr><td style=\"padding:4px 16px 4px 0;color:#555;\">' + s.segmento + '</td><td style=\"padding:4px 8px;text-align:right;\"><strong>' + s.total + '</strong></td><td style=\"padding:4px 0 4px 8px;color:#888;\">(' + s.clientes + ' clientes · ' + s.prospectos + ' prospectos)</td></tr>').join('') }}</table><p style=\"margin-top:12px;\"><strong>Total campañable:</strong> {{ $json.total_campañable }} contactos con email</p><hr style=\"border:none;border-top:1px solid #eee;margin:16px 0;\"><p>Entra a <strong>Pipedrive → Campañas → 'Intel Bambu — {{ $json.fecha_corta }}'</strong> para revisar y enviar.</p><p style=\"color:#888;font-size:12px;\">⚙️ WF-10B · Bambu Sales Automatization</p>"},"id":"c0000010-0000-0000-0000-000000000010","name":"Email Campaña Lista → CGO","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1780,520],"credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}},"webhookId":"cf16774d-b06d-46eb-b032-1fff3eb2c554"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko","mode":"id"},"sheetName":{"__rl":true,"value":"Campañas","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"id":"c0000011-0000-0000-0000-000000000011","name":"Sheets — Log Campaña","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,660],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}},"continueOnFail":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"c0000012-0000-0000-0000-000000000012","name":"Schedule: Cada 5 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,400]},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!A%3AZ","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"id":"c0000013-0000-0000-0000-000000000013","name":"HTTP — Leer Intel Briefs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,400],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst rows = data.values || [];\nif (rows.length < 2) return [{ json: { found: false } }];\n\nconst headers = rows[0];\nconst estIdx = headers.indexOf('estado');\nconst fechaIdx = headers.indexOf('fecha');\n\nlet found = null;\nlet foundRowNum = -1;\nfor (let i = rows.length - 1; i >= 1; i--) {\n  if (rows[i][estIdx] === 'aprobado') {\n    found = rows[i];\n    foundRowNum = i + 1; // 1-based (header=row1, first data=row2)\n    break;\n  }\n}\n\nif (!found) return [{ json: { found: false } }];\n\nconst obj = {};\nheaders.forEach((h, idx) => { obj[h] = found[idx] || ''; });\nreturn [{ json: { ...obj, found: true, _rowNum: foundRowNum } }];"},"id":"c0000014-0000-0000-0000-000000000014","name":"Filtrar Aprobado","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"chk","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"c0000015-0000-0000-0000-000000000015","name":"IF — Brief Pendiente","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,400]},{"parameters":{"jsCode":"let rowNum = -1;\ntry { rowNum = $('Filtrar Aprobado').first().json._rowNum || -1; } catch(e) {}\nreturn [{ json: { _rowNum: rowNum } }];"},"id":"c0000016-0000-0000-0000-000000000016","name":"Prep Marcar Procesado","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,620]},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!C{{ $json._rowNum }}?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"values\": [[\"procesado\"]]}","options":{"response":{"response":{"neverError":true}}}},"id":"c0000017-0000-0000-0000-000000000017","name":"HTTP — Marcar Procesado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,620],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"c0000018","name":"Prep Log Campaña","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,380],"parameters":{"jsCode":"// Prepara los datos para registrar en el Sheet \"Campañas\"\n// Corre después de PD Campaigns (continueOnFail=true)\nconst pdResult = $input.first().json;\nconst html = $('Build HTML Email').first().json;\n\n// campaign_id: si Pipedrive devolvió data.id úsalo, si falló queda 'pendiente'\nconst campaignId = String(\n  pdResult?.data?.id || pdResult?.id || 'pendiente'\n);\n\nreturn [{\n  json: {\n    fecha_creacion: html.fecha_corta || '',\n    campaign_id: campaignId,\n    nombre: 'Intel Bambu — ' + (html.fecha_corta || ''),\n    template: 'T1',\n    total_campañable: String(html.total_campañable || 0),\n    segmentos_json: JSON.stringify(html.segResumen || {}),\n    estado: 'creada_borrador',\n    opens: '0',\n    clicks: '0',\n    hot_signals: '0'\n  }\n}];"}},{"id":"lock-prep-001","name":"Prep Marcar Procesando","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,500],"parameters":{"jsCode":"const brief = $input.first().json;\nreturn [{ json: { _rowNum: brief._rowNum } }];"}},{"id":"lock-http-001","name":"HTTP — Marcar Procesando","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,500],"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!C{{ $json._rowNum }}?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"values\": [[\"procesando\"]]}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Schedule: Cada 5 min":{"main":[[{"node":"HTTP — Leer Intel Briefs","type":"main","index":0}]]},"HTTP — Leer Intel Briefs":{"main":[[{"node":"Filtrar Aprobado","type":"main","index":0}]]},"Filtrar Aprobado":{"main":[[{"node":"IF — Brief Pendiente","type":"main","index":0}]]},"IF — Brief Pendiente":{"main":[[{"node":"PD — Obtener Contactos","type":"main","index":0},{"node":"PD — Clientes (Deals Ganados)","type":"main","index":0},{"node":"Prep Marcar Procesando","type":"main","index":0}],[]]},"PD — Obtener Contactos":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":1}]]},"PD — Clientes (Deals Ganados)":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":2}]]},"Merge Brief + Contactos":{"main":[[{"node":"Segmentar Contactos","type":"main","index":0}]]},"Segmentar Contactos":{"main":[[{"node":"Claude — Dual Copy","type":"main","index":0}]]},"Claude — Dual Copy":{"main":[[{"node":"Parse Copy Claude","type":"main","index":0}]]},"Parse Copy Claude":{"main":[[{"node":"Build HTML Email","type":"main","index":0}]]},"Build HTML Email":{"main":[[{"node":"Brevo — Crear Campaña","type":"main","index":0},{"node":"Email Campaña Lista → CGO","type":"main","index":0}]]},"Sheets — Log Campaña":{"main":[[{"node":"Prep Marcar Procesado","type":"main","index":0}]]},"Prep Marcar Procesado":{"main":[[{"node":"HTTP — Marcar Procesado","type":"main","index":0}]]},"Prep Log Campaña":{"main":[[{"node":"Sheets — Log Campaña","type":"main","index":0}]]},"Prep Marcar Procesando":{"main":[[{"node":"HTTP — Marcar Procesando","type":"main","index":0}]]},"HTTP — Marcar Procesando":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":0}]]},"Brevo — Crear Campaña":{"main":[[{"node":"Prep Log Campaña","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule: Cada 5 min":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"ef860279-83dd-4866-82ed-e092988cc51f","activeVersionId":"ef860279-83dd-4866-82ed-e092988cc51f","versionCounter":11,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-02T23:45:54.594Z","createdAt":"2026-06-02T23:45:54.594Z","role":"workflow:owner","workflowId":"gdbczgw1BIYHIxiT","projectId":"JU2bKPpYIxzn9Xw3","project":{"updatedAt":"2026-04-10T04:49:03.292Z","createdAt":"2026-04-10T04:48:56.287Z","id":"JU2bKPpYIxzn9Xw3","name":"Roberto Esparza <roberto.esparza@bambu-techservices.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-19T20:57:10.326Z","createdAt":"2026-06-19T20:57:10.326Z","versionId":"ef860279-83dd-4866-82ed-e092988cc51f","workflowId":"gdbczgw1BIYHIxiT","nodes":[{"parameters":{"method":"GET","url":"=https://api.pipedrive.com/v1/persons?limit=200&start=0&api_token={{ $vars.PIPEDRIVE_API_TOKEN }}","options":{}},"id":"c0000002-0000-0000-0000-000000000002","name":"PD — Obtener Contactos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,280]},{"parameters":{"method":"GET","url":"=https://api.pipedrive.com/v1/deals?status=won&limit=200&api_token={{ $vars.PIPEDRIVE_API_TOKEN }}","options":{}},"id":"c0000003-0000-0000-0000-000000000003","name":"PD — Clientes (Deals Ganados)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,440]},{"parameters":{"mode":"append","numberInputs":3},"id":"c0000004-0000-0000-0000-000000000004","name":"Merge Brief + Contactos","type":"n8n-nodes-base.merge","typeVersion":3,"position":[680,400]},{"parameters":{"jsCode":"// Combina brief, personas y clientes; segmenta y prepara el copy\nconst allItems = $input.all();\nconst briefItem    = $('Filtrar Aprobado').first().json;\nconst personsResp  = allItems[1]?.json || {};\nconst wonDealsResp = allItems[2]?.json || {};\n\nconst persons  = personsResp.data  || [];\nconst wonDeals = wonDealsResp.data || [];\nconst brief_md = briefItem.brief_md || '';\nconst tipo     = briefItem.tipo_campaña || 'T1';\n\n// IDs de clientes (personas con deal ganado)\nconst clientPersonIds = new Set(wonDeals.map(d => d.person_id?.value).filter(Boolean));\n\n// Personas con email, separadas por segmento\nconst KEYWORDS = {\n  'Manufactura / Nearshoring': ['manufactur','industrial','plant','automotri','aerospace','semiconductor','nearshoring'],\n  'Financiero / Fintech':      ['banco','bank','financier','fintech','seguro','credito','pago','afore','inversion'],\n  'Retail / CPG':              ['retail','comercio','tienda','supermercado','walmart','oxxo','fmcg','consumer','aliment'],\n  'Gobierno':                  ['gobierno','municipal','estado','secretaria','imss','issste','pemex','cfe','federal'],\n  'Salud':                     ['hospital','clinica','salud','medic','pharma','laboratori'],\n  'Tecnología / IT':           ['tecnolog','software','digital','tech','system','solution','data','cloud'],\n  'Telecomunicaciones':        ['telecom','telcel','telmex','at&t','movistar','axtel','megacable'],\n  'Transporte / Logística':    ['transport','logistic','carga','cargo','aerolinea'],\n  'Energía':                   ['energia','petroleo','gas','electric','solar','eolica']\n};\n\nfunction getSegment(orgName) {\n  const n = (orgName || '').toLowerCase();\n  for (const [seg, kws] of Object.entries(KEYWORDS)) {\n    if (kws.some(kw => n.includes(kw))) return seg;\n  }\n  return 'Sin clasificar';\n}\n\n// Construir lista segmentada con email\nconst segmented = {};\nconst allEmailList = [];\n\npersons.forEach(p => {\n  const email = p.email?.[0]?.value;\n  if (!email) return;\n  const orgName = p.org_id?.name || '';\n  const seg = getSegment(orgName);\n  const isClient = clientPersonIds.has(p.id);\n  const contact = {\n    id: p.id,\n    name: p.name,\n    email,\n    org: orgName,\n    segmento: seg,\n    tipo_contacto: isClient ? 'Cliente' : 'Prospecto'\n  };\n  if (!segmented[seg]) segmented[seg] = { clientes: [], prospectos: [] };\n  isClient ? segmented[seg].clientes.push(contact) : segmented[seg].prospectos.push(contact);\n  allEmailList.push(contact);\n});\n\n// Resumen de segmentación\nconst segResumen = Object.entries(segmented).map(([seg, data]) => ({\n  segmento: seg,\n  clientes: data.clientes.length,\n  prospectos: data.prospectos.length,\n  total: data.clientes.length + data.prospectos.length\n})).sort((a, b) => b.total - a.total);\n\nreturn [{\n  json: {\n    brief_md,\n    tipo_campaña: tipo,\n    fecha_corta: briefItem.fecha || new Date().toLocaleDateString('es-MX'),\n    segmented,\n    segResumen,\n    total_campañable: allEmailList.length,\n    all_email_list: allEmailList\n  }\n}];"},"id":"c0000005-0000-0000-0000-000000000005","name":"Segmentar Contactos","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 4096, messages: [{ role: 'user', content: 'Eres copywriter senior B2B de Bambu Tech Services en México.\\n\\nBasándote en este brief de inteligencia comercial:\\n\\n' + $json.brief_md + '\\n\\nSegmentación actual del CRM:\\n' + JSON.stringify($json.segResumen) + '\\n\\nGenera el copy para DOS canales en JSON exacto con esta estructura:\\n{\\n  \"email\": {\\n    \"subject\": \"Asunto (max 50 chars, urgencia sin clickbait)\",\\n    \"preheader\": \"Preheader (max 85 chars)\",\\n    \"hero_headline\": \"Titular hero (max 60 chars)\",\\n    \"hero_subline\": \"Subtítulo (max 100 chars)\",\\n    \"flash_bullets\": [\"bullet1\", \"bullet2\", \"bullet3\"],\\n    \"sections\": [{\"vertical\": \"\", \"emoji\": \"\", \"noticia_titulo\": \"\", \"contexto\": \"2-3 líneas\", \"decisor\": \"\", \"angulo_bambu\": \"\", \"urgencia\": \"ALTA/MEDIA/BAJA\"}],\\n    \"oportunidad_titulo\": \"\",\\n    \"oportunidad_cuerpo\": \"2 líneas\",\\n    \"cta_texto\": \"max 30 chars\",\\n    \"cta_url\": \"https://bambu-techservices.com/contacto\"\\n  },\\n  \"whatsapp\": {\\n    \"mensaje\": \"Texto WA max 1024 chars, sin HTML, saludo + 2 bullets con emojis + pregunta apertura + link\"\\n  }\\n}\\n\\nRespuesta SOLO el JSON, sin markdown ni explicaciones.' }] }) }}","options":{}},"id":"c0000006-0000-0000-0000-000000000006","name":"Claude — Dual Copy","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400]},{"parameters":{"jsCode":"// Parsea la respuesta de Claude y prepara los datos para crear la campaña\nconst claudeResp = $input.first().json;\nconst rawText = claudeResp.content?.[0]?.text || '{}';\n\nlet copy;\ntry {\n  // Claude puede responder con ```json ... ``` o directo\n  const clean = rawText.replace(/^```json\\s*/i,'').replace(/```\\s*$/,'').trim();\n  copy = JSON.parse(clean);\n} catch(e) {\n  copy = { email: { subject: 'Intel Comercial Bambu', preheader: '', hero_headline: 'Las señales de mercado de esta semana', hero_subline: '', flash_bullets: [], sections: [], oportunidad_titulo: '', oportunidad_cuerpo: '', cta_texto: 'Conversemos', cta_url: 'https://bambu-techservices.com/contacto' }, whatsapp: { mensaje: '' } };\n}\n\n// Pasar también los datos del paso anterior\nconst prev = $('Segmentar Contactos').first().json;\n\nreturn [{\n  json: {\n    email_copy: copy.email,\n    wa_mensaje: copy.whatsapp?.mensaje || '',\n    brief_md: prev.brief_md,\n    segmented: prev.segmented,\n    segResumen: prev.segResumen,\n    total_campañable: prev.total_campañable,\n    fecha_corta: prev.fecha_corta\n  }\n}];"},"id":"c0000007-0000-0000-0000-000000000007","name":"Parse Copy Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400]},{"parameters":{"jsCode":"// Construye el HTML final del email T1 — Newsletter Intel Bambu\n// Combina el template base con el copy generado por Claude\nconst { email_copy: c, fecha_corta } = $input.first().json;\n\nconst flashBullets = (c.flash_bullets || []).map(b =>\n  `<tr><td style=\"padding:8px 20px;font-family:Arial,sans-serif;font-size:15px;color:#333;border-left:3px solid #F0B429;\">&#9889; ${b}</td></tr>`\n).join('');\n\nconst sections = (c.sections || []).map(s => `\n  <tr><td style=\"padding:20px 30px 0;background:#fff;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#888;text-transform:uppercase;letter-spacing:1px;\">${s.emoji || '📊'} ${s.vertical}</p>\n    <h3 style=\"margin:0 0 8px;font-family:Arial,sans-serif;font-size:17px;color:#111;line-height:1.3;\">${s.noticia_titulo}</h3>\n    <p style=\"margin:0 0 8px;font-family:Arial,sans-serif;font-size:14px;color:#444;line-height:1.6;\">${s.contexto}</p>\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;color:#666;\">🎯 <strong>Decisor:</strong> ${s.decisor}</p>\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;font-style:italic;background:#FFF8E1;padding:10px 14px;border-radius:4px;border-left:3px solid #F0B429;\">💡 ${s.angulo_bambu}</p>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:12px;\"><strong>⚡ Urgencia: <span style=\"color:${s.urgencia==='ALTA'||s.urgencia==='CRÍTICA'?'#c0392b':s.urgencia==='MEDIA'?'#e67e22':'#27ae60'}\">${s.urgencia}</span></strong></p>\n  </td></tr>\n  <tr><td style=\"padding:0 30px;\"><hr style=\"border:none;border-top:1px solid #eee;margin:16px 0;\"></td></tr>`\n).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>${c.subject}</title>\n</head>\n<body style=\"margin:0;padding:0;background:#F4F4F4;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F4F4;\">\n<tr><td align=\"center\" style=\"padding:20px 10px;\">\n\n<!-- Wrapper 600px -->\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n\n  <!-- HEADER -->\n  <tr><td style=\"background:#000;padding:18px 30px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td style=\"font-family:Arial,sans-serif;font-size:20px;font-weight:700;color:#F0B429;letter-spacing:1px;\">BAMBU</td>\n      <td align=\"right\" style=\"font-family:Arial,sans-serif;font-size:11px;color:#888;\">${fecha_corta}</td>\n    </tr></table>\n  </td></tr>\n\n  <!-- HERO -->\n  <tr><td style=\"background:#111;padding:32px 30px 28px;\">\n    <p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:11px;color:#F0B429;text-transform:uppercase;letter-spacing:2px;\">&#128268; INTEL COMERCIAL BAMBU</p>\n    <h1 style=\"margin:0 0 10px;font-family:Arial,sans-serif;font-size:26px;color:#fff;line-height:1.25;\">${c.hero_headline}</h1>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;color:#aaa;line-height:1.5;\">${c.hero_subline}</p>\n  </td></tr>\n\n  <!-- FLASH DEL DÍA -->\n  <tr><td style=\"background:#fff;padding:20px 30px 8px;\">\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#888;text-transform:uppercase;letter-spacing:1px;\">&#9889; Flash de la semana</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${flashBullets}</table>\n  </td></tr>\n\n  <!-- DIVISOR -->\n  <tr><td style=\"background:#fff;padding:0 30px;\"><hr style=\"border:none;border-top:2px solid #F0B429;margin:20px 0 10px;\"></td></tr>\n\n  <!-- NOTICIAS PRINCIPALES -->\n  <tr><td style=\"background:#fff;padding:8px 30px 0;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#888;text-transform:uppercase;letter-spacing:1px;\">&#128202; Noticias principales</p>\n  </td></tr>\n  ${sections}\n\n  <!-- OPORTUNIDAD DE LA SEMANA -->\n  <tr><td style=\"background:#000;padding:28px 30px;\">\n    <p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:11px;color:#F0B429;text-transform:uppercase;letter-spacing:2px;\">&#128640; Oportunidad de la semana</p>\n    <h2 style=\"margin:0 0 10px;font-family:Arial,sans-serif;font-size:20px;color:#fff;line-height:1.3;\">${c.oportunidad_titulo}</h2>\n    <p style=\"margin:0 0 20px;font-family:Arial,sans-serif;font-size:14px;color:#ccc;line-height:1.6;\">${c.oportunidad_cuerpo}</p>\n    <table cellpadding=\"0\" cellspacing=\"0\">\n    <tr><td style=\"background:#F0B429;border-radius:4px;\">\n      <a href=\"${c.cta_url}\" style=\"display:inline-block;padding:13px 28px;font-family:Arial,sans-serif;font-size:14px;font-weight:700;color:#000;text-decoration:none;\">${c.cta_texto} &rarr;</a>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- FOOTER -->\n  <tr><td style=\"background:#222;padding:20px 30px;\">\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:13px;color:#ccc;\"><strong style=\"color:#fff;\">Bambu Tech Services</strong></p>\n    <p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#888;\">roberto.esparza@bambu-techservices.com</p>\n    <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:12px;color:#888;\">bambu-techservices.com</p>\n    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#555;\">\n      Estás recibiendo este correo porque formas parte de nuestra red de contactos profesionales.\n      <a href=\"{{unsubscribe}}\" style=\"color:#888;\">Cancelar suscripción</a>\n    </p>\n  </td></tr>\n\n</table>\n<!-- fin wrapper -->\n</td></tr></table>\n</body></html>`;\n\nreturn [{\n  json: {\n    html_email: html,\n    subject: c.subject,\n    preheader: c.preheader,\n    wa_mensaje: $input.first().json.wa_mensaje,\n    segResumen: $input.first().json.segResumen,\n    total_campañable: $input.first().json.total_campañable,\n    fecha_corta: $input.first().json.fecha_corta\n  }\n}];"},"id":"c0000008-0000-0000-0000-000000000008","name":"Build HTML Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{"method":"POST","url":"https://api.brevo.com/v3/emailCampaigns","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"={{ $vars.BREVO_API_KEY }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: 'Intel Bambu — ' + $('Build HTML Email').first().json.fecha_corta, subject: $('Build HTML Email').first().json.subject, sender: { name: 'Bambu Tech Services', email: 'roberto.esparza@bambu-techservices.com' }, replyTo: 'roberto.esparza@bambu-techservices.com', htmlContent: $('Build HTML Email').first().json.html_email, recipients: { listIds: [Number($vars.BREVO_LIST_ID)] } }) }}","options":{}},"id":"c0000009-0000-0000-0000-000000000009","name":"Brevo — Crear Campaña","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,280],"continueOnFail":true},{"parameters":{"fromEmail":"roberto.esparza@bambu-techservices.com","toEmail":"roberto.esparza@bambu-techservices.com","subject":"=📧 Campaña Intel lista para enviar — {{ $json.fecha_corta }}","options":{},"html":"=<p>Hola Roberto,</p><p>La campaña de inteligencia comercial del <strong>{{ $json.fecha_corta }}</strong> está lista.</p><h3 style=\"margin:16px 0 8px;\">Segmentación</h3><table style=\"border-collapse:collapse;font-size:14px;\">{{ $json.segResumen.map(s => '<tr><td style=\"padding:4px 16px 4px 0;color:#555;\">' + s.segmento + '</td><td style=\"padding:4px 8px;text-align:right;\"><strong>' + s.total + '</strong></td><td style=\"padding:4px 0 4px 8px;color:#888;\">(' + s.clientes + ' clientes · ' + s.prospectos + ' prospectos)</td></tr>').join('') }}</table><p style=\"margin-top:12px;\"><strong>Total campañable:</strong> {{ $json.total_campañable }} contactos con email</p><hr style=\"border:none;border-top:1px solid #eee;margin:16px 0;\"><p>Entra a <strong>Pipedrive → Campañas → 'Intel Bambu — {{ $json.fecha_corta }}'</strong> para revisar y enviar.</p><p style=\"color:#888;font-size:12px;\">⚙️ WF-10B · Bambu Sales Automatization</p>"},"id":"c0000010-0000-0000-0000-000000000010","name":"Email Campaña Lista → CGO","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1780,520],"credentials":{"smtp":{"id":"lexMB39WZNDmctV5","name":"│ Bambu Gmail SMTP"}},"webhookId":"cf16774d-b06d-46eb-b032-1fff3eb2c554"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko","mode":"id"},"sheetName":{"__rl":true,"value":"Campañas","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"id":"c0000011-0000-0000-0000-000000000011","name":"Sheets — Log Campaña","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,660],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}},"continueOnFail":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"c0000012-0000-0000-0000-000000000012","name":"Schedule: Cada 5 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,400]},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!A%3AZ","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"id":"c0000013-0000-0000-0000-000000000013","name":"HTTP — Leer Intel Briefs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,400],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst rows = data.values || [];\nif (rows.length < 2) return [{ json: { found: false } }];\n\nconst headers = rows[0];\nconst estIdx = headers.indexOf('estado');\nconst fechaIdx = headers.indexOf('fecha');\n\nlet found = null;\nlet foundRowNum = -1;\nfor (let i = rows.length - 1; i >= 1; i--) {\n  if (rows[i][estIdx] === 'aprobado') {\n    found = rows[i];\n    foundRowNum = i + 1; // 1-based (header=row1, first data=row2)\n    break;\n  }\n}\n\nif (!found) return [{ json: { found: false } }];\n\nconst obj = {};\nheaders.forEach((h, idx) => { obj[h] = found[idx] || ''; });\nreturn [{ json: { ...obj, found: true, _rowNum: foundRowNum } }];"},"id":"c0000014-0000-0000-0000-000000000014","name":"Filtrar Aprobado","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"chk","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"c0000015-0000-0000-0000-000000000015","name":"IF — Brief Pendiente","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,400]},{"parameters":{"jsCode":"let rowNum = -1;\ntry { rowNum = $('Filtrar Aprobado').first().json._rowNum || -1; } catch(e) {}\nreturn [{ json: { _rowNum: rowNum } }];"},"id":"c0000016-0000-0000-0000-000000000016","name":"Prep Marcar Procesado","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,620]},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!C{{ $json._rowNum }}?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"values\": [[\"procesado\"]]}","options":{"response":{"response":{"neverError":true}}}},"id":"c0000017-0000-0000-0000-000000000017","name":"HTTP — Marcar Procesado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,620],"credentials":{"googleSheetsOAuth2Api":{"id":"yF3npq62Z1nKRMvP","name":"Bambu Google Sheets"}}},{"id":"c0000018","name":"Prep Log Campaña","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,380],"parameters":{"jsCode":"// Prepara los datos para registrar en el Sheet \"Campañas\"\n// Corre después de PD Campaigns (continueOnFail=true)\nconst pdResult = $input.first().json;\nconst html = $('Build HTML Email').first().json;\n\n// campaign_id: si Pipedrive devolvió data.id úsalo, si falló queda 'pendiente'\nconst campaignId = String(\n  pdResult?.data?.id || pdResult?.id || 'pendiente'\n);\n\nreturn [{\n  json: {\n    fecha_creacion: html.fecha_corta || '',\n    campaign_id: campaignId,\n    nombre: 'Intel Bambu — ' + (html.fecha_corta || ''),\n    template: 'T1',\n    total_campañable: String(html.total_campañable || 0),\n    segmentos_json: JSON.stringify(html.segResumen || {}),\n    estado: 'creada_borrador',\n    opens: '0',\n    clicks: '0',\n    hot_signals: '0'\n  }\n}];"}},{"id":"lock-prep-001","name":"Prep Marcar Procesando","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,500],"parameters":{"jsCode":"const brief = $input.first().json;\nreturn [{ json: { _rowNum: brief._rowNum } }];"}},{"id":"lock-http-001","name":"HTTP — Marcar Procesando","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,500],"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1j6W7-gNrOmMrPNLG1UVPIcnaV3Z90qDRSocXMC8rGko/values/Intel%20Briefs!C{{ $json._rowNum }}?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"values\": [[\"procesando\"]]}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Schedule: Cada 5 min":{"main":[[{"node":"HTTP — Leer Intel Briefs","type":"main","index":0}]]},"HTTP — Leer Intel Briefs":{"main":[[{"node":"Filtrar Aprobado","type":"main","index":0}]]},"Filtrar Aprobado":{"main":[[{"node":"IF — Brief Pendiente","type":"main","index":0}]]},"IF — Brief Pendiente":{"main":[[{"node":"PD — Obtener Contactos","type":"main","index":0},{"node":"PD — Clientes (Deals Ganados)","type":"main","index":0},{"node":"Prep Marcar Procesando","type":"main","index":0}],[]]},"PD — Obtener Contactos":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":1}]]},"PD — Clientes (Deals Ganados)":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":2}]]},"Merge Brief + Contactos":{"main":[[{"node":"Segmentar Contactos","type":"main","index":0}]]},"Segmentar Contactos":{"main":[[{"node":"Claude — Dual Copy","type":"main","index":0}]]},"Claude — Dual Copy":{"main":[[{"node":"Parse Copy Claude","type":"main","index":0}]]},"Parse Copy Claude":{"main":[[{"node":"Build HTML Email","type":"main","index":0}]]},"Build HTML Email":{"main":[[{"node":"Brevo — Crear Campaña","type":"main","index":0},{"node":"Email Campaña Lista → CGO","type":"main","index":0}]]},"Sheets — Log Campaña":{"main":[[{"node":"Prep Marcar Procesado","type":"main","index":0}]]},"Prep Marcar Procesado":{"main":[[{"node":"HTTP — Marcar Procesado","type":"main","index":0}]]},"Prep Log Campaña":{"main":[[{"node":"Sheets — Log Campaña","type":"main","index":0}]]},"Prep Marcar Procesando":{"main":[[{"node":"HTTP — Marcar Procesando","type":"main","index":0}]]},"HTTP — Marcar Procesando":{"main":[[{"node":"Merge Brief + Contactos","type":"main","index":0}]]},"Brevo — Crear Campaña":{"main":[[{"node":"Prep Log Campaña","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Roberto Esparza","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-19T20:57:10.513Z","id":148,"workflowId":"gdbczgw1BIYHIxiT","versionId":"ef860279-83dd-4866-82ed-e092988cc51f","event":"activated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"},{"createdAt":"2026-06-19T20:57:10.469Z","id":147,"workflowId":"gdbczgw1BIYHIxiT","versionId":"ef860279-83dd-4866-82ed-e092988cc51f","event":"deactivated","userId":"f8d11da0-bc74-4bfc-8202-03bd8b18027b"}]}}